openapi: 3.0.3
info:
  title: Reya DEX Trading API v2
  version: 3.6.0
  contact:
    name: Reya Network
    url: https://reya.xyz
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.reya.xyz/v2
    description: Production server
  - url: https://api-devnet.reya-cronos.network/v2
    description: Devnet server for Perp OB integration
  - url: https://api-test.reya.xyz/v2
    description: Testnet server

paths:
  /openapi-spec.yaml:
    get:
      summary: Get OpenAPI specification
      description: Returns the complete OpenAPI specification for this API in YAML format
      operationId: getOpenApiSpec
      tags:
        - Specs
      responses:
        '200':
          description: OpenAPI specification in YAML format
          content:
            application/yaml:
              schema:
                type: string
                format: binary
        '500':
          $ref: '#/components/responses/InternalServerError'

  /asyncapi-spec.yaml:
    get:
      summary: Get AsyncAPI specification
      description: Returns the complete AsyncAPI specification for WebSocket API in YAML format
      operationId: getAsyncApiSpec
      tags:
        - Specs
      responses:
        '200':
          description: AsyncAPI specification in YAML format
          content:
            application/yaml:
              schema:
                type: string
                format: binary
        '500':
          $ref: '#/components/responses/InternalServerError'

  /asyncapi-exec-spec.yaml:
    get:
      summary: Get order-entry AsyncAPI specification
      description: Returns the complete AsyncAPI specification for the order-entry WebSocket API in YAML format
      operationId: getAsyncExecApiSpec
      tags:
        - Specs
      responses:
        '200':
          description: Order-entry AsyncAPI specification in YAML format
          content:
            application/yaml:
              schema:
                type: string
                format: binary
        '500':
          $ref: '#/components/responses/InternalServerError'

  /perpMarketDefinitions:
    get:
      summary: Get perp market definitions
      description: Canonical perp market definitions endpoint for perpOB. Replaces the removed AMM-era `/marketDefinitions` route.
      operationId: getPerpMarketDefinitions
      tags:
        - Reference Data
      responses:
        '200':
          description: List of perp market definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarketDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /spotMarketDefinitions:
    get:
      summary: Get spot market definitions
      operationId: getSpotMarketDefinitions
      tags:
        - Reference Data
      responses:
        '200':
          description: List of spot market definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpotMarketDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /spotMarkets/summary:
    get:
      summary: Get spot market summaries
      description: Statistics and throttled market data for all spot markets. Recalculated every 0.5s
      operationId: getSpotMarketsSummary
      tags:
        - Market Data
      responses:
        '200':
          description: List of spot market summaries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpotMarketSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /spotMarket/{symbol}/summary:
    get:
      summary: Get spot market summary
      description: Statistics and throttled market data for a specific spot market. Recalculated every 0.5s
      operationId: getSpotMarketSummary
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
      responses:
        '200':
          description: Spot market summary data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotMarketSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /assetDefinitions:
    get:
      summary: Get asset definitions
      operationId: getAssetDefinitions
      tags:
        - Reference Data
      responses:
        '200':
          description: List of asset definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssetDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /globalFeeParameters:
    get:
      summary: Get global fee parameters
      operationId: getGlobalFeeParameters
      tags:
        - Reference Data
      responses:
        '200':
          description: Global fee parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalFeeParameters'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /feeTiers:
    get:
      summary: Get fee tiers
      operationId: getFeeTierParameters
      tags:
        - Reference Data
      responses:
        '200':
          description: List of fee tier parameters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeeTierParameters'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /perpMarkets/summary:
    get:
      summary: Get perp market summaries
      description: Perp market summary route mirroring the `/spotMarkets/summary` naming. Statistics and throttled market data for all perp markets. Recalculated every 0.5s
      operationId: getPerpMarketsSummary
      tags:
        - Market Data
      responses:
        '200':
          description: List of perp market summaries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarketSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /perpMarket/{symbol}/summary:
    get:
      summary: Get perp market summary
      description: Perp market summary route mirroring the `/spotMarket/{symbol}/summary` naming. Statistics and throttled data for a specific perp market. Recalculated every 0.5s
      operationId: getPerpMarketSummary
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
      responses:
        '200':
          description: Market summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /assetOraclePrices:
    get:
      summary: Get asset oracle prices
      description: Asset Stork oracle prices. This feed deliberately omits the AMM-era `poolPrice` field.
      operationId: getAssetOraclePrices
      tags:
        - Market Data
      responses:
        '200':
          description: List of asset oracle prices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssetOraclePrice'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /market/{symbol}/perpExecutions:
    get:
      summary: Get perp executions for market
      description: Returns up to 100 perp executions for a given market.
      operationId: getMarketPerpExecutions
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
        - $ref: '#/components/parameters/ExecutionTypeParam'
      responses:
        '200':
          description: List of perp executions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerpExecutionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /market/{symbol}/depth:
    get:
      summary: Get market depth snapshot
      description: |
        Returns an L2 order book snapshot with aggregated price levels for the specified market.
        Supports both spot and perp markets.

        By default the top 100 aggregated price levels per side are returned. Pass the optional
        `limit` query parameter to request between 1 and 1,000 levels per side — the `limit` best
        (highest) bids and the `limit` best (lowest) asks. Values above 1,000 are clamped to 1,000;
        other out-of-contract values fall back to the default of 100.
      operationId: getMarketDepth
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
        - $ref: '#/components/parameters/DepthLimitParam'
      responses:
        '200':
          description: Depth snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepthSnapshot'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /market/{symbol}/spotExecutions:
    get:
      summary: Get spot executions for market
      description: Returns up to 100 spot executions for a given market.
      operationId: getMarketSpotExecutions
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: List of spot executions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotExecutionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /market/{symbol}/executionBusts:
    get:
      summary: Get execution busts for market
      description: |
        Returns up to 100 execution busts (failed fills) for a given market, covering both spot and perp markets.
        Clients can distinguish spot vs perp entries from the `symbol` suffix (`*RUSDPERP` for perp, `*RUSD` for spot).
      operationId: getMarketExecutionBusts
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: List of execution busts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionBustList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /candleHistory/{symbol}/{resolution}:
    get:
      summary: Get historical candles
      description: Returns up to 200 candles for a given market, sorted by time in descending order, and ending at the specified end time.
      operationId: getCandles
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
        - $ref: '#/components/parameters/ResolutionParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: Historical candle data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandleHistoryData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/accounts:
    get:
      summary: Get wallet accounts
      operationId: getWalletAccounts
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
      responses:
        '200':
          description: List of accounts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/executionBusts:
    get:
      summary: Get wallet execution busts
      description: Returns up to 100 execution busts (failed fills) for a given wallet, covering both spot and perp markets. Use the `symbol` suffix to distinguish spot from perp busts.
      operationId: getWalletExecutionBusts
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: List of execution busts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionBustList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/perpExecutions:
    get:
      summary: Get wallet perp executions
      description: Returns up to 100 perp executions for a given wallet.
      operationId: getWalletPerpExecutions
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
        - $ref: '#/components/parameters/ExecutionTypeParam'
      responses:
        '200':
          description: List of perpetual executions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerpExecutionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/spotExecutions:
    get:
      summary: Get wallet spot executions
      description: Returns up to 100 spot executions for a given wallet.
      operationId: getWalletSpotExecutions
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: List of spot executions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotExecutionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/orderHistory:
    get:
      summary: Get wallet order history
      description: |
        Returns up to 100 historical order state updates for a wallet, newest first.
        Each row is one `Order` update for one of the wallet's accounts, across spot and perp markets.

        History is limited and may be unavailable for high-volume accounts. This endpoint is for
        account-history views; it is not a complete audit log. Market makers should maintain their
        own order history from the `orderChanges` WebSocket stream and reconcile against current
        open orders after a disconnect.

        `startTime` and `endTime` are millisecond Unix timestamps matched against `lastUpdateAt`.
        Results are newest-first: `meta.startTime` is the newest returned timestamp and `meta.endTime`
        is the oldest. `endTime` is inclusive, so passing the previous `meta.endTime` may repeat
        boundary rows; deduplicate using `Order.sequenceNumber`. Clients that do not need to preserve
        same-millisecond boundary ties may page backward with `endTime = meta.endTime - 1`.
      operationId: getWalletOrderHistory
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: Paginated list of order state updates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderHistoryList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/positions:
    get:
      summary: Get wallet positions
      operationId: getWalletPositions
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
      responses:
        '200':
          description: List of positions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Position'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/accountBalances:
    get:
      summary: Get wallet account balances
      description: Returns all account real balances for a wallet.
      operationId: getWalletAccountBalances
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
      responses:
        '200':
          description: List of account balances
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountBalance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/transfers:
    get:
      summary: Get wallet transfers
      description: |
        Return settled collateral movements for every account of a wallet, newest first.
        The streaming `walletTransfers` channel delivers the same entries as live updates.

        **Coverage**

        Each entry belongs to one account and asset, with `amount` signed from that account's
        perspective. Moving 100 rUSD between two accounts of the same wallet produces two
        entries: -100 for the sending account and +100 for the receiving account.

        This is a history of net deposits, not a complete balance or PnL history. Realized PnL,
        funding, and ADL cashflows are excluded; closing a profitable position shows its fee
        movements, not its profit. Use `accountBalances.realBalance` for realized balance and
        `positions` / `perpExecutions` for position and execution PnL.

        Zero-amount entries are excluded. Historical coverage varies by environment; movements
        before the available history begins are absent. Returned entries do not change.

        **Transfer types**

        `type` describes the purpose of a movement, not its direction; use the sign of `amount`
        for direction. The following meanings apply to REST and WebSocket entries.

        | Type | Meaning |
        | --- | --- |
        | `DEPOSIT` / `WITHDRAWAL` | Collateral entering or leaving the protocol. |
        | `TRANSFER` | Transfer between margin accounts of the same owner. |
        | `POOL_STAKE` / `POOL_UNSTAKE` | Passive-pool staking or unstaking; entries cover the asset and share token. |
        | `PERP_TAKER_FEE` | Gross fee paid by the taker on a perp fill. |
        | `PERP_REFERRER_REBATE` | Rebate for the taker's referrer. |
        | `PERP_TAKER_REBATE` | Rebate returned to the taker. |
        | `PERP_POOL_REBATE` | Rebate credited to the passive pool. |
        | `PERP_FEE` | Perp fee recorded in older execution history. |
        | `SPOT_EXECUTION` | Token movements from a spot trade, recorded separately per asset. |
        | `AUTO_EXCHANGE` / `AUTO_EXCHANGE_INSURANCE_FEE` | Auto-exchange movements and the associated insurance-fund fee. |
        | `LIQUIDATION_INSURANCE_FEE` | Liquidation fee for the insurance fund. |
        | `LIQUIDATION_BACKSTOP_FEE` | Liquidation fee for the backstop liquidity provider. |
        | `LIQUIDATION_LIQUIDATOR_REWARD` / `LIQUIDATION_KEEPER_REWARD` | Liquidator or keeper reward. |
        | `LIQUIDATION_BID_FEE` | Bid fee for a ranked liquidation. |
        | `INSURANCE_FUND_COVERAGE` / `POOL_MERGE` | Insurance coverage or pool consolidation transfer. |
        | `OTHER` | Unclassified movement; the reported amounts remain exact. |

        **Pagination**

        - Results are ordered newest first by `sequenceNumber`. `limit` defaults to 100 and is
          capped at 100 entries per page.
        - Omit `cursor` for the first page. Pass the returned `meta.nextCursor` unchanged for
          the next page, keeping the same filters. Stop when `nextCursor` is absent.
        - Cursor traversal visits each matching entry once, including when entries share a
          block timestamp. Use cursors rather than timestamps to advance between pages.
        - `startTime` and `endTime` filter the block timestamp in milliseconds. `type` filters
          by a comma-separated list of `TransferType` values; omit it to include all types.

        **Reconciliation**

        For a complete history of one account and asset, process entries in chronological order:
        `previous netDepositsAfter + amount = netDepositsAfter`. Do not use a type-filtered or
        incomplete history to check that equality. `netDepositsAfter` is not the account's
        `realBalance` and should not be displayed as its complete balance.

        Use `sequenceNumber` to merge and deduplicate REST history, the WebSocket snapshot, and
        live entries. Use `fillId` or `spotExecutionSequenceNumber`, when present, to associate
        movements with executions. Optional fields and historical availability are documented
        on `Transfer`; see `walletTransfers` for snapshot and live-frame delivery.
      operationId: getWalletTransfers
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
        - $ref: '#/components/parameters/TransfersLimitParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
        - $ref: '#/components/parameters/TransferTypeParam'
      responses:
        '200':
          description: Page of transfer entries, newest first
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/openOrders:
    get:
      summary: Get wallet open orders
      description: Returns all pending orders for a wallet.
      operationId: getWalletOpenOrders
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
      responses:
        '200':
          description: List of open orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/configuration:
    get:
      summary: Get wallet configuration
      description: Returns trading configuration for a wallet
      operationId: getWalletConfiguration
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
      responses:
        '200':
          description: Wallet configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletConfiguration'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /createOrder:
    post:
      summary: Create order
      description: |
        Create a new spot or perp order. `timeInForce` is required for every order class.
        STOP_LOSS and TAKE_PROFIT orders are supported only on perp markets.
        On trigger creates and modifications, omit `reduceOnly` and `postOnly`, including
        `false`. Supplied flags return `INPUT_VALIDATION_ERROR`. SDK signing and server
        verification reconstruct both as `false`; they never inherit stored values.

        **Armed stops.** A protective stop is not executable liquidity until it fires. While armed,
        it remains modifiable and cancellable and appears as `OPEN`, with `triggered: false` in
        `openOrders` and `walletOrderChanges`. Order-history rows omit `triggered`; its absence
        there means unknown, not `false`.

        **Time in force and expiry.** For a stop, `timeInForce` selects the fired child's behavior:
        IOC fills available liquidity and cancels the remainder; GTC rests the remainder until
        cancelled; GTT rests it until expiry. Only GTT carries `expiresAfter`, which must be in the
        future and strictly greater than the signature's `deadline`. GTC and IOC must omit it.
        Invalid combinations return `INPUT_VALIDATION_ERROR` or `TRIGGER_IOC_MUST_NOT_EXPIRE_ERROR`.

        A GTT stop and its child share one absolute `expiresAfter`; firing does not start a new
        lifetime. The stop or resting child can be cancelled before that timestamp to allow
        settlement, with `cancelReason: GTT_EXPIRED`. Choose an expiry with sufficient time for
        both protection and settlement. An expiry that is too near returns `ORDER_EXPIRES_TOO_SOON_ERROR`.
        The signature's `deadline` controls request acceptance only; passing it does not disarm
        an accepted stop or prevent its child from executing. A fill that settles after `expiresAfter`
        can revert with `OrderExpired`.

        **Execution price.** `limitPx` is the child's worst acceptable execution price, not an
        offset from `triggerPx`. It must be within the permitted range around `triggerPx`.
        `TRIGGER_LIMIT_OUTSIDE_BAND_ERROR` indicates an out-of-range limit or that stops are
        unavailable for the market. If the limit is out of range, move it closer to the trigger
        and re-sign; changing the price will not resolve market unavailability.

        **Firing and paired stops.** When the mark price crosses `triggerPx`, the stop attempts
        to create its child. A created child has `triggered: true` and cancels the paired stop
        on the same account and market with `OCO_SIBLING_FIRED`, even if it fills nothing.
        A partial IOC fill can leave the remaining position without protection. Protection is
        not automatically re-armed. Manually cancelling one protective leg leaves its sibling armed.
        If a protective child would self-trade, the account's conflicting resting maker orders
        are cancelled with `PROTECTIVE_SELF_TRADE_SWEEP` so the child can execute.

        If no tradeable position remains to reduce (the position closed, reversed, or is below one
        lot), both legs are cancelled with `POSITION_CLOSED`. If the proposed child fails pre-trade
        risk checks, both legs are cancelled with `RISK_REJECTED`. In either case, no child is created,
        both orders retain `triggered: false`, and protection is not automatically retried or re-armed.
        Use `cancelReason` for handling; do not parse `cancelReasonMessage`.

        **Resting children.** Firing does not guarantee a fill. A GTC/GTT child can remain unfilled
        at `limitPx` if the market moves past it. Its fills cannot exceed the current reducible
        position, so displayed remaining quantity can exceed what can execute. A zero reducible
        quantity when it attempts to fill cancels the remainder with `POSITION_CLOSED`; closing the
        position by another route does not immediately remove the child. A fired child is cancel-only:
        `modifyOrder` is refused. Ordinary self-trade prevention applies to the account's new crossing
        orders. Explicit `cancelAll` includes the child; cancel-all-after leaves it in place.

        Stops and their children only reduce positions, even though their signed `reduceOnly`
        field is `false`. They cannot open a new position.

        Also available on the order-entry WebSocket (`asyncapi-exec-v2.yaml`, `createOrder`).

        **Responses and fill correlation**

        A created order receives an `orderId`, even if an IOC fills nothing and is immediately
        cancelled. `execQty` reports the fills from this request; `cumQty` reports lifetime fills.
        `firstFillId` and `fillCount`, when present, identify the contiguous fill range. On a
        non-IOC taker, the same range appears in its `orderChanges` update. IOC takers do not
        appear on `orderChanges`, so retain the response's range to correlate their executions.
        See the Order Entry section's Cancellation reasons for cancelled outcomes.
        These fill-correlation rules also apply to `modifyOrder` responses.
      operationId: createOrder
      tags:
        - Order Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '200':
          description: Order creation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /modifyOrder:
    post:
      summary: Modify order
      description: |
        Modify a resting order in place, preserving its `orderId` and `clientOrderId`.
        The same rules apply to the order-entry WebSocket `modifyOrder` operation.

        **Target and signature**

        - Target by `orderId`, or a non-zero `clientOrderId` if `orderId` is absent.
        - If both are supplied, `orderId` selects the order and `clientOrderId` must
          match its existing client ID. Omit `clientOrderId` if the order has none.
        - Send the complete intended post-modify `OrderDetails`, including unchanged
          values, except the fixed trigger flags described below. Omitted fields do not inherit the resting order's values.
        - Sign the restated fields with a fresh EIP-712 signature and nonce, using
          the same `Order` / `OrderDetails` envelope as `createOrder`.

        **Fields that can change**

        | Order class | Modifiable fields | Requirements |
        | --- | --- | --- |
        | `LIMIT` | `limitPx`, `qty`, `postOnly`, `expiresAfter` | Omit `triggerPx`. Send total `qty`, strictly greater than `cumQty`; otherwise `MODIFY_QTY_BELOW_FILLED_ERROR`. |
        | Armed `STOP_LOSS` / `TAKE_PROFIT` | `limitPx`, `triggerPx` | Send `triggerPx`; omit `qty` and sign the full-position sentinel `±int256.max`, with sign from `isBuy`. Omit `reduceOnly` and `postOnly`; sign both as `false`. Supplied flags, including `false`, are rejected. |

        `exchangeId`, `isBuy`, `orderType`, `timeInForce`, `clientOrderId`,
        `accountId`, and `signerWallet` must match the existing order. LIMIT modifies also
        restate `reduceOnly`; triggers reconstruct `reduceOnly=false` and `postOnly=false`
        before signature verification and engine submission. A mismatch returns
        `INPUT_VALIDATION_ERROR`. For all order classes, omit `expiresAfter` for GTC/IOC;
        GTT requires a future expiry strictly greater than `deadline`.

        Only armed stops (`triggered: false`) can be modified; fired children are
        cancel-only. A stop's `timeInForce` and shared `expiresAfter` cannot change:
        cancel and recreate it to change either. Its post-modify `limitPx` and
        `triggerPx` must satisfy the market's trigger-price band, or the request returns
        `TRIGGER_LIMIT_OUTSIDE_BAND_ERROR`.

        **Priority and execution**

        - Decreasing `qty` at unchanged `limitPx` preserves queue priority. Increasing
          `qty` or changing `limitPx` loses priority.
        - An unchanged LIMIT request returns `EMPTY_MODIFY_ERROR`. An armed stop may
          be re-signed with a fresh `signature`, `nonce`, and `deadline` at unchanged prices.
        - A post-only modification that would cross returns `POST_ONLY_WOULD_CROSS_ERROR`
          and leaves the order unchanged. A non-post-only crossing modification can
          execute immediately; the response reports `execQty` and `status`.
        - Per-fill details are delivered on the execution and order-change streams.

        A crossing modification reports `OPEN` if a partially filled remainder rests, or `FILLED`
        if fully executed. If it would self-trade against the account's resting liquidity, the
        incoming modified order is cancelled with `SELF_TRADE_PREVENTION`; any completed fills
        remain recorded. See `POST /v2/createOrder`, Responses and fill correlation, to associate
        response fill IDs with streamed executions.
      operationId: modifyOrder
      tags:
        - Order Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyOrderRequest'
      responses:
        '200':
          description: Order modification response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /cancelOrder:
    post:
      summary: Cancel order
      description: |
        Cancel an existing order. Supports spot, perp, and protective stop orders. `accountId`,
        `nonce`, and `deadline` are required and bound into the EIP-712 signature.

        For a `STOP_LOSS` / `TAKE_PROFIT`, cancellation is bound to the **arming signer**: the wallet
        that signs this cancel must be the exact wallet that armed the trigger, so a different signer
        holding trade permission on the same account cannot cancel it and is rejected with
        `UNAUTHORIZED_ACCOUNT_ERROR`. The same binding applies to `modifyOrder` on an armed trigger.

        Also available on the order-entry WebSocket (`asyncapi-exec-v2.yaml`, `cancelOrder`).
      operationId: cancelOrder
      tags:
        - Order Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderRequest'
      responses:
        '200':
          description: Order cancellation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /cancelAll:
    post:
      summary: Cancel all orders
      description: |
        Cancel all open orders for an account, optionally restricted by `symbol`. Omit `symbol`
        to cancel across the account's markets. Supports spot and perp markets and includes
        protective stops and their fired children. Also available on the order-entry WebSocket
        as `cancelAll`; the same filters and signing requirements apply.

      operationId: cancelAll
      tags:
        - Order Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MassCancelRequest'
      responses:
        '200':
          description: Mass cancel response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassCancelResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /cancelAllAfter:
    post:
      summary: Set cancel-all-after countdown
      description: |
        Arm, refresh, or disarm an account-scoped cancel-all-after countdown. The same countdown
        can be managed interchangeably over REST and the order-entry WebSocket.

        **Countdown controls**

        - Send `timeoutMs` in [5000, 60000] milliseconds to arm a countdown. Another successful
          call replaces it with a new countdown of the requested duration, including when the
          duration is unchanged.
        - Send `timeoutMs: 0` to disarm; it is a no-op if no countdown is armed.
        - Only another `cancelAllAfter` call refreshes the countdown. Order traffic and pings
          do not refresh it; a WebSocket close does not trigger it. It survives reconnects
          until it fires or is disarmed.
        - For example, arm for 30000 ms and refresh every 10–15 seconds. Refresh well before expiry.

        **Affected orders**

        On expiry, all open orders for `accountId` are cancelled except protective stops
        (`STOP_LOSS` / `TAKE_PROFIT`) and their fired children. Cancellations appear on
        `walletOrderChanges` with `CANCEL_ALL_AFTER`. Explicit `POST /v2/cancelAll` also cancels
        protective stops and their children.

        **Signature and response**

        Sign `accountId`, `timeoutMs`, and `nonce` in the EIP-712 `CancelAllAfterDetails`, using
        the envelope and signer requirements in the request fields. `deadline` is the signature
        validity in Unix seconds; it does not set countdown expiry. The response's `triggerAt`
        is an advisory Unix timestamp in milliseconds and is omitted when disarming.

        **Rate limits**

        Countdown control has a separate account budget from placements and cancels. Disarming
        an armed countdown is never throttled; a no-op disarm can be throttled. Rate-limit
        rejections return `RATE_LIMITED_ERROR` with `retryAfterMs`. See the HTTP 400 response
        reference for recovery guidance.
      operationId: cancelAllAfter
      tags:
        - Order Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelAllAfterRequest'
      responses:
        '200':
          description: Cancel-all-after response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelAllAfterResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  parameters:
    SymbolParam:
      name: symbol
      in: path
      required: true
      description: Trading symbol (e.g., BTCRUSDPERP)
      schema:
        $ref: './trading-schemas.json#/definitions/Symbol'
        example: BTCRUSDPERP

    AddressParam:
      name: address
      in: path
      required: true
      schema:
        $ref: './trading-schemas.json#/definitions/Address'
        example: '0x6c51275fd01d5dbd2da194e92f920f8598306df2'

    StartTimeParam:
      name: startTime
      in: query
      required: false
      description: >-
        Return results at or after this time (inclusive lower bound). Millisecond
        POSIX timestamp, matched against the endpoint's record timestamp. Execution
        and bust endpoints use on-chain block timestamps; orderHistory uses the order
        event timestamp exposed as `lastUpdateAt`.
      schema:
        $ref: './trading-schemas.json#/definitions/UnsignedInteger'
        example: 1756733379000

    EndTimeParam:
      name: endTime
      in: query
      required: false
      description: >-
        Return results at or before this time (inclusive upper bound). Millisecond
        POSIX timestamp, matched against the endpoint's record timestamp. Execution
        and bust endpoints use on-chain block timestamps; orderHistory uses the order
        event timestamp exposed as `lastUpdateAt`. Results are returned newest-first
        and capped at a maximum that varies by endpoint. Because this bound is
        inclusive, passing the oldest timestamp from the previous page can repeat
        boundary rows; clients can deduplicate overlap or subtract 1ms when same-ms
        boundary ties are not relevant.
      schema:
        $ref: './trading-schemas.json#/definitions/UnsignedInteger'
        example: 1756733679000

    ExecutionTypeParam:
      name: type
      in: query
      required: false
      description: Filter perp executions by their exact response type. Omit to return executions of all types.
      schema:
        type: string
        enum:
          - ORDER_MATCH
          - LIQUIDATION
          - ADL
          - MARKET_CLOSE
        example: LIQUIDATION

    TransfersLimitParam:
      name: limit
      in: query
      required: false
      description: >-
        Maximum number of entries per page. The default and the maximum are
        both 100; larger values are clamped to 100.
      schema:
        $ref: './trading-schemas.json#/definitions/UnsignedInteger'
        example: 100

    CursorParam:
      name: cursor
      in: query
      required: false
      description: |
        Opaque page cursor from the previous response's `meta.nextCursor`. Omit for the
        first page; otherwise pass it unchanged. Do not construct or parse cursor values.
      schema:
        type: string
        example: djEuNTQ2MzY3NzA2LjA

    TransferTypeParam:
      name: type
      in: query
      required: false
      description: >-
        Return only entries of these types, as a comma-separated list of
        `TransferType` values (for example `DEPOSIT,WITHDRAWAL` or
        `PERP_TAKER_FEE,PERP_TAKER_REBATE`). Omit to return every type.
      style: form
      explode: false
      schema:
        type: array
        items:
          $ref: './trading-schemas.json#/definitions/TransferType'
        example:
          - DEPOSIT
          - WITHDRAWAL

    DepthLimitParam:
      name: limit
      in: query
      required: false
      description: >-
        Optional cap on the number of aggregated price levels returned per side.
        The default is 100 and the maximum is 1,000. When set to N within the
        declared range, the response contains the top N levels on each side —
        the N best (highest) bids and the N best (lowest) asks. Values above the
        maximum are clamped to 1,000; other out-of-contract values are not
        rejected and instead fall back to the default of 100.
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 100
        example: 10

    ResolutionParam:
      name: resolution
      in: path
      required: true
      description: Candle resolution
      schema:
        type: string
        enum: ['1m', '5m', '15m', '30m', '1h', '4h', '1d']
        example: '1m'

  schemas:
    TriggerOrderType:
      $ref: './trading-schemas.json#/definitions/TriggerOrderType'
    LimitOrderType:
      $ref: './trading-schemas.json#/definitions/LimitOrderType'
    RequestError:
      $ref: './trading-schemas.json#/definitions/RequestError'

    ServerError:
      $ref: './trading-schemas.json#/definitions/ServerError'

    MarketDefinition:
      $ref: './trading-schemas.json#/definitions/MarketDefinition'

    SpotMarketDefinition:
      $ref: './trading-schemas.json#/definitions/SpotMarketDefinition'

    AssetDefinition:
      $ref: './trading-schemas.json#/definitions/AssetDefinition'

    FeeTierParameters:
      $ref: './trading-schemas.json#/definitions/FeeTierParameters'

    GlobalFeeParameters:
      $ref: './trading-schemas.json#/definitions/GlobalFeeParameters'

    WalletConfiguration:
      $ref: './trading-schemas.json#/definitions/WalletConfiguration'

    MarketSummary:
      $ref: './trading-schemas.json#/definitions/MarketSummary'

    SpotMarketSummary:
      $ref: './trading-schemas.json#/definitions/SpotMarketSummary'

    Position:
      $ref: './trading-schemas.json#/definitions/Position'

    Order:
      $ref: './trading-schemas.json#/definitions/Order'

    OrderHistoryList:
      $ref: './trading-schemas.json#/definitions/OrderHistoryList'

    Account:
      $ref: './trading-schemas.json#/definitions/Account'

    AccountBalance:
      $ref: './trading-schemas.json#/definitions/AccountBalance'

    PerpExecutionList:
      $ref: './trading-schemas.json#/definitions/PerpExecutionList'

    SpotExecutionList:
      $ref: './trading-schemas.json#/definitions/SpotExecutionList'

    Transfer:
      $ref: './trading-schemas.json#/definitions/Transfer'

    TransferType:
      $ref: './trading-schemas.json#/definitions/TransferType'

    TransferList:
      $ref: './trading-schemas.json#/definitions/TransferList'

    ExecutionBust:
      $ref: './trading-schemas.json#/definitions/ExecutionBust'

    ExecutionBustList:
      $ref: './trading-schemas.json#/definitions/ExecutionBustList'

    AssetOraclePrice:
      $ref: './trading-schemas.json#/definitions/AssetOraclePrice'

    CandleHistoryData:
      $ref: './trading-schemas.json#/definitions/CandleHistoryData'

    CreateOrderRequest:
      $ref: './trading-schemas.json#/definitions/CreateOrderRequest'

    CreateOrderResponse:
      $ref: './trading-schemas.json#/definitions/CreateOrderResponse'

    ModifyOrderRequestBase:
      $ref: './trading-schemas.json#/definitions/ModifyOrderRequestBase'
    LimitModifyOrderRequest:
      $ref: './trading-schemas.json#/definitions/LimitModifyOrderRequest'
    TriggerModifyOrderRequest:
      $ref: './trading-schemas.json#/definitions/TriggerModifyOrderRequest'
    ModifyOrderRequest:
      $ref: './trading-schemas.json#/definitions/ModifyOrderRequest'

    ModifyOrderResponse:
      $ref: './trading-schemas.json#/definitions/ModifyOrderResponse'

    CancelOrderRequest:
      $ref: './trading-schemas.json#/definitions/CancelOrderRequest'

    CancelOrderResponse:
      $ref: './trading-schemas.json#/definitions/CancelOrderResponse'

    MassCancelRequest:
      $ref: './trading-schemas.json#/definitions/MassCancelRequest'

    MassCancelResponse:
      $ref: './trading-schemas.json#/definitions/MassCancelResponse'

    CancelAllAfterRequest:
      $ref: './trading-schemas.json#/definitions/CancelAllAfterRequest'

    CancelAllAfterResponse:
      $ref: './trading-schemas.json#/definitions/CancelAllAfterResponse'

    Depth:
      $ref: './trading-schemas.json#/definitions/Depth'

    DepthType:
      $ref: './trading-schemas.json#/definitions/DepthType'

    DepthSnapshot:
      $ref: './trading-schemas.json#/definitions/DepthSnapshot'

  responses:
    BadRequest:
      description: |
        Standardized error codes for API responses. Branch on `error`, not the free-text
        `message` or HTTP status. Every venue rejection on REST uses HTTP 400 with a
        `RequestError` body. The order-entry WebSocket returns the same code and optional
        `retryAfterMs` in its `{ ok: false, error }` response. HTTP 429 is reserved for
        infrastructure-level (per-IP) limits in front of the API and is never a venue
        verdict.

        Validation and authorization:
        - `INPUT_VALIDATION_ERROR`: correct the request's fields or order-class combination
          before resubmitting. Immutable fields on a modify must match the existing order.
        - `SYMBOL_NOT_FOUND_ERROR`, `NO_ACCOUNTS_FOUND_ERROR`: the requested market or
          account data is unavailable; check the request and current market/account state.
        - `NUMERIC_OVERFLOW_ERROR`, `PRICE_QTY_BOUNDS_ERROR`: a numeric value is out of
          range, or price/quantity is invalid for the market. Check price increments and
          quantity limits.
        - `UNAUTHORIZED_SIGNATURE_ERROR`: the signature is invalid or unauthorized.
          `UNAUTHORIZED_ACCOUNT_ERROR`: the signer is not permitted to act on the target
          order. For an armed protective stop, modify and cancel require the signer that
          created it.
        - `INVALID_NONCE_ERROR`: use a fresh, monotonically increasing nonce for the signer
          and re-sign.
        - `ORDER_DEADLINE_PASSED_ERROR`, `ORDER_DEADLINE_TOO_HIGH_ERROR`: the signature's
          `deadline` has passed or is too far in the future. Correct it and re-sign. This
          deadline controls request acceptance, not the lifetime of an accepted order.
        - `ORDER_EXPIRES_TOO_SOON_ERROR`: a GTT order's `expiresAfter` leaves insufficient
          time for execution and settlement. Choose a later expiry and re-sign. GTT orders
          can be cancelled before their signed expiry to allow settlement; for a protective
          stop this applies to both its armed phase and its fired child.
        - `SERVICE_DISABLED_ERROR`, `TRADING_HALTED_ERROR`: order entry is unavailable for
          the market. Check market availability before submitting again.
        - `DUPLICATE_CLIENT_ORDER_ID_ERROR`: the client ID belongs to a live order.
          Reconcile that order before submitting another.
        - `ORDER_NOT_FOUND_ERROR`: the target order was not found. Refresh its state before
          retrying.
        - `EMPTY_MODIFY_ERROR`: a LIMIT modification makes no change. An armed trigger may
          be re-signed at unchanged prices.
        - `MODIFY_QTY_BELOW_FILLED_ERROR`: the modified total quantity must exceed the
          quantity already filled.
        - `POST_ONLY_WOULD_CROSS_ERROR`: the order would execute immediately. Choose a
          non-crossing price or change the post-only intent and re-sign.
        - The `*_OTHER_ERROR` codes are operation-specific failures without a more specific
          code. Use `message` for display or troubleshooting; do not parse it as a stable
          machine-readable contract.

        Pre-trade risk checks:
        - `ACCOUNT_BELOW_LIQUIDATION_MARGIN_ERROR`: the account does not meet the required
          liquidation-margin or balance conditions.
        - `ACCOUNT_BELOW_INITIAL_MARGIN_ERROR`: the proposed trade does not meet the
          account's initial-margin or collateral requirements. An account already below
          initial margin may trade only when the trade improves its health.
        - `INSUFFICIENT_BALANCE_ERROR`: the account cannot fund the order.
        - `OPEN_INTEREST_CAP_ERROR`, `OPEN_INTEREST_BUDGET_ERROR`: the trade exceeds the
          market's available open-interest capacity.
        - `REDUCE_ONLY_CONDITION_NOT_MET_ERROR`: the order would not strictly reduce the
          current position, for example because there is no position, the side is wrong, or
          the size would reverse it.

        A request refused by risk checks is rejected in full. A rejected create produces no
        order; a rejected modify leaves the existing order unchanged. These failures require
        a change in account or market state, a smaller order, more collateral, or a user
        decision; do not automatically retry them unchanged. Resting-order cancellations
        appear separately as `cancelReason: RISK_CANCELLED`. A protective stop whose child
        fails risk checks is cancelled with `RISK_REJECTED`; see `CancelReason`.

        Protective stops:
        - `TRIGGER_IOC_MUST_NOT_EXPIRE_ERROR`: an IOC trigger cannot carry `expiresAfter`.
          Only GTT orders carry an expiry; GTC and IOC must omit it. Invalid
          time-in-force/expiry combinations can also return `INPUT_VALIDATION_ERROR`.
          Correct the combination and re-sign.
        - `TRIGGER_LIMIT_OUTSIDE_BAND_ERROR`: the stop's `limitPx` is outside the permitted
          range around `triggerPx`, or stops are unavailable for the market. Move the limit
          closer to the trigger and re-sign when the price is out of range. If the message
          indicates stops are unavailable, changing the price will not resolve it.
        - `TRIGGER_ALREADY_EXISTS_ERROR`: the account already has an armed stop of the same
          type on that market. At most one stop-loss and one take-profit may be armed per
          account and market. Modify or cancel the existing stop before replacing it.

        Rate limits and resting-order caps:
        - `RATE_LIMITED_ERROR`: the account's request budget for this operation is
          exhausted. Create and modify share a placement budget; single cancels, bulk
          cancels, and cancel-all-after control have separate budgets. Budgets are shared
          across markets, signers, REST, and WebSocket requests for the same account. Wait
          at least `retryAfterMs` milliseconds before retrying. This is a minimum wait, not
          a reserved request slot; concurrent traffic can use the available budget.
          Disarming an armed cancel-all-after countdown is never throttled. A disarm when no
          countdown is armed can be throttled.
        - `OPEN_ORDER_COUNT_EXCEEDED_ERROR`: a new resting order would exceed the account's
          total or per-market resting-order count. Cancel orders or allow them to fill
          before placing more. Modifications do not increase the count.
        - `OPEN_ORDER_NOTIONAL_EXCEEDED_ERROR`: the account's combined resting-order
          notional would exceed its limit. Notional is remaining quantity multiplied by
          limit price for resting GTC/GTT orders. Creates are checked against the submitted
          quantity before any immediate fills; modifications are checked against the
          resulting notional. IOC orders and armed triggers are exempt; fired trigger
          children that rest count toward the limits. Cancel or shrink resting orders, or
          submit a smaller order.

        Resting-order cap errors carry no `retryAfterMs`: waiting alone does not resolve
        them. `CAPACITY_LIMITED_ERROR` means the venue temporarily cannot accept a create or
        modify. It carries no retry hint; use backoff with jitter. Cancels and
        cancel-all-after operations are not refused for venue capacity, though their
        separate account rate limits still apply.

        Temporary availability:
        - `CROSSING_ORDERS_TEMPORARILY_UNAVAILABLE_ERROR`: an order that would execute
          immediately cannot currently pass the required pre-trade checks. Retry after a
          short delay. Existing resting orders remain in place; non-crossing orders and
          cancellations remain available.
        - `SERVICE_UNAVAILABLE_ERROR`: the request was not accepted. Account-owner, signature or
          permission checks were unavailable before dispatch, or the transport did not send
          the request (including a full outbound queue). Re-sign with a fresh nonce and
          resubmit, retaining the same `clientOrderId` when supplied. Back off while the
          service remains unavailable. An unchanged nonce may already be below the signer's
          nonce floor because a later request was accepted.
        - `ORDER_OUTCOME_UNKNOWN_ERROR`: the transport failed after the request may have
          reached the matching engine. The operation may have been applied. Reconcile open
          orders and executions before resubmitting; never replace an unresolved attempt
          with a fresh nonce. Retain the complete signed request, including operation, account,
          market/filter scope, nonce, and order identifiers. Responses do not provide an
          acceptance receipt or an outcome-query mechanism.
          Absence from open orders is not proof of failure: the order may have filled, and
          read data can lag. Executions correlate by order/fill IDs, not request nonces.
          Insufficient or ambiguous evidence remains unresolved. For `cancelAllAfter`,
          open orders do not establish whether a timer was armed, refreshed, or disarmed.

        Permission errors such as `NOT_WHITELISTED_ERROR` and `ACCOUNT_SUSPENDED_ERROR` are
        not resolved by automatic retries. Contact support if an expected operation is
        refused.

        Retry policy: retry unchanged after a short delay for
        `CROSSING_ORDERS_TEMPORARILY_UNAVAILABLE_ERROR`; re-sign with a fresh nonce for
        `SERVICE_UNAVAILABLE_ERROR`; reconcile first for
        `ORDER_OUTCOME_UNKNOWN_ERROR`; retry
        `RATE_LIMITED_ERROR` after at least `retryAfterMs`; retry `CAPACITY_LIMITED_ERROR`
        using backoff with jitter. Correct validation failures and re-sign where required.
        Reconcile order state before retrying an unanswered request, because a transport
        timeout or disconnect does not establish that the request was rejected.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RequestError'
          examples:
            validation:
              value:
                error: INPUT_VALIDATION_ERROR
                message: Invalid request parameters
            serviceUnavailable:
              value:
                error: SERVICE_UNAVAILABLE_ERROR
                message: The request was not accepted. Back off and retry with a fresh nonce.
            unknownOutcome:
              value:
                error: ORDER_OUTCOME_UNKNOWN_ERROR
                message: The operation may have been applied. Reconcile before resubmitting.

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ServerError'
          example:
            error: INTERNAL_SERVER_ERROR
            message: An unexpected error occurred

tags:
  - name: Specs
    description: OpenAPI and AsyncAPI specs
  - name: Reference Data
    description: Market definitions, fee parameters, asset configuration, etc.
  - name: Market Data
    description: Prices, market-level trades, depth, candles, etc.
  - name: Wallet Data
    description: Accounts, positions, trades, etc.
  - name: Order Entry
    description: |
      Place, modify, and cancel orders, or manage an account's cancel-all-after countdown.
      Reya verifies signatures, signer permissions, order validity, and applicable pre-trade
      risk checks before accepting requests.

      **Rate limits.** Account budgets are shared across markets, signers, REST, and WebSocket
      requests. Create and modify share a placement budget; single cancels, bulk cancels, and
      cancel-all-after control have separate budgets. Resting orders also have count and
      notional limits. See the HTTP 400 response reference for errors and recovery guidance.

      **Every venue verdict is HTTP 400.** Rejections carry the reason in the body's `error`
      code and an optional `retryAfterMs`. Branch on the code to decide how to recover. HTTP 429 is
      reserved for infrastructure-level (per-IP) limits in front of the API and need not use
      the venue's JSON error format.

      **Cancellation reasons**

      Reason for a terminal `CANCELLED` order. `cancelReason` and `cancelReasonMessage`
      are omitted for other statuses and may be omitted when a cancellation reason is
      unavailable. Branch on `cancelReason`; `cancelReasonMessage` is explanatory text,
      not a stable contract to parse.

      - `NO_LIQUIDITY`: an IOC order filled nothing at its limit.
      - `IOC_REMAINDER`: an IOC order partially filled and its unfilled quantity was
        cancelled because no further executable liquidity was available. Both IOC reasons
        appear on create/modify responses.
      - `USER_CANCEL`, `MASS_CANCEL`, `CANCEL_ALL_AFTER`, `GTT_EXPIRED`: cancellation by a
        single cancel, bulk cancel, expired cancel-all-after countdown, or GTT expiry.
        These appear on `walletOrderChanges`.
      - `SELF_TRADE_PREVENTION`: an order would trade against the account's own resting
        order. Only the incoming order is cancelled; the resting order stays in place.
        This can appear on create/modify responses or a crossing modification's
        order-change event. Any fills already completed remain recorded.
      - `FEED_RESET`: rebuild the local order view from the following order events or `GET
        /v2/wallet/{address}/openOrders`. This notification does not mean the orders were
        cancelled on the exchange.
      - `RISK_CANCELLED`: a resting order was cancelled because it did not pass pre-trade
        risk checks when it was about to fill. Delivered on `walletOrderChanges`, with any
        previous fills preserved. A create or modify refused at request acceptance instead
        returns a `RequestErrorCode`.
      - `OCO_SIBLING_FIRED`: the paired stop-loss or take-profit fired and created its
        child order. The sibling is cancelled even when the child fills nothing.
        Cancelling a leg manually leaves its sibling armed; protection is not
        automatically re-armed.
      - `PROTECTIVE_SELF_TRADE_SWEEP`: a resting maker order was cancelled to allow a
        protective stop to execute without self-trading. This reason appears on the
        maker's cancellation, unlike `SELF_TRADE_PREVENTION`, which cancels the incoming
        order.
      - `POSITION_CLOSED`: no tradeable quantity remains to reduce. If the position has
        closed, reversed, or fallen below one lot before a stop fires, both protective
        legs are cancelled with `triggered: false` and no child is created. A fired
        child's remaining quantity is limited by the current reducible position; if that
        quantity is zero when it attempts to fill, its remainder is cancelled.
      - `RISK_REJECTED`: the proposed protective child failed pre-trade risk checks. Both
        protective legs are cancelled with `triggered: false`; no child is created and
        protection is not automatically retried or re-armed.

      A GTT stop or its resting child can be cancelled with `GTT_EXPIRED` before the
      signed `expiresAfter` to allow settlement. Explicit `cancelAll` includes fired
      children and reports `MASS_CANCEL`; cancel-all-after leaves armed protective stops
      and their fired children in place.
