openapi: 3.0.3
info:
  title: Reya DEX Trading API v2
  version: 3.1.0
  contact:
    name: Reya Network
    url: https://reya.xyz
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.reya.xyz/v2
    description: Production server
  - url: https://api-devnet.reya-cronos.network/v2
    description: Devnet server for Perp OB integration
  - url: https://api-test.reya.xyz/v2
    description: Testnet server

paths:
  /openapi-spec.yaml:
    get:
      summary: Get OpenAPI specification
      description: Returns the complete OpenAPI specification for this API in YAML format
      operationId: getOpenApiSpec
      tags:
        - Specs
      responses:
        '200':
          description: OpenAPI specification in YAML format
          content:
            application/yaml:
              schema:
                type: string
                format: binary
        '500':
          $ref: '#/components/responses/InternalServerError'

  /asyncapi-spec.yaml:
    get:
      summary: Get AsyncAPI specification
      description: Returns the complete AsyncAPI specification for WebSocket API in YAML format
      operationId: getAsyncApiSpec
      tags:
        - Specs
      responses:
        '200':
          description: AsyncAPI specification in YAML format
          content:
            application/yaml:
              schema:
                type: string
                format: binary
        '500':
          $ref: '#/components/responses/InternalServerError'

  /asyncapi-exec-spec.yaml:
    get:
      summary: Get order-entry AsyncAPI specification
      description: Returns the complete AsyncAPI specification for the order-entry WebSocket API in YAML format
      operationId: getAsyncExecApiSpec
      tags:
        - Specs
      responses:
        '200':
          description: Order-entry AsyncAPI specification in YAML format
          content:
            application/yaml:
              schema:
                type: string
                format: binary
        '500':
          $ref: '#/components/responses/InternalServerError'

  /perpMarketDefinitions:
    get:
      summary: Get perp market definitions
      description: Canonical perp market definitions endpoint for perpOB. Replaces the removed AMM-era `/marketDefinitions` route.
      operationId: getPerpMarketDefinitions
      tags:
        - Reference Data
      responses:
        '200':
          description: List of perp market definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarketDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /spotMarketDefinitions:
    get:
      summary: Get spot market definitions
      operationId: getSpotMarketDefinitions
      tags:
        - Reference Data
      responses:
        '200':
          description: List of spot market definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpotMarketDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /spotMarkets/summary:
    get:
      summary: Get spot market summaries
      description: Statistics and throttled market data for all spot markets. Recalculated every 0.5s
      operationId: getSpotMarketsSummary
      tags:
        - Market Data
      responses:
        '200':
          description: List of spot market summaries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpotMarketSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /spotMarket/{symbol}/summary:
    get:
      summary: Get spot market summary
      description: Statistics and throttled market data for a specific spot market. Recalculated every 0.5s
      operationId: getSpotMarketSummary
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
      responses:
        '200':
          description: Spot market summary data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotMarketSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /assetDefinitions:
    get:
      summary: Get asset definitions
      operationId: getAssetDefinitions
      tags:
        - Reference Data
      responses:
        '200':
          description: List of asset definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssetDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /globalFeeParameters:
    get:
      summary: Get global fee parameters
      operationId: getGlobalFeeParameters
      tags:
        - Reference Data
      responses:
        '200':
          description: Global fee parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalFeeParameters'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /feeTiers:
    get:
      summary: Get fee tiers
      operationId: getFeeTierParameters
      tags:
        - Reference Data
      responses:
        '200':
          description: List of fee tier parameters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeeTierParameters'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /perpMarkets/summary:
    get:
      summary: Get perp market summaries
      description: Perp market summary route mirroring the `/spotMarkets/summary` naming. Statistics and throttled market data for all perp markets. Recalculated every 0.5s
      operationId: getPerpMarketsSummary
      tags:
        - Market Data
      responses:
        '200':
          description: List of perp market summaries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarketSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /perpMarket/{symbol}/summary:
    get:
      summary: Get perp market summary
      description: Perp market summary route mirroring the `/spotMarket/{symbol}/summary` naming. Statistics and throttled data for a specific perp market. Recalculated every 0.5s
      operationId: getPerpMarketSummary
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
      responses:
        '200':
          description: Market summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /assetOraclePrices:
    get:
      summary: Get asset oracle prices
      description: Asset Stork oracle prices. This feed deliberately omits the AMM-era `poolPrice` field.
      operationId: getAssetOraclePrices
      tags:
        - Market Data
      responses:
        '200':
          description: List of asset oracle prices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssetOraclePrice'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /market/{symbol}/perpExecutions:
    get:
      summary: Get perp executions for market
      description: Returns up to 100 perp executions for a given market.
      operationId: getMarketPerpExecutions
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
        - $ref: '#/components/parameters/ExecutionTypeParam'
      responses:
        '200':
          description: List of perp executions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerpExecutionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /market/{symbol}/depth:
    get:
      summary: Get market depth snapshot
      description: |
        Returns an L2 order book snapshot with aggregated price levels for the specified market.
        Supports both spot and perp markets.

        By default the top 100 aggregated price levels per side are returned. Pass the optional
        `limit` query parameter to request between 1 and 1,000 levels per side — the `limit` best
        (highest) bids and the `limit` best (lowest) asks. Values above 1,000 are clamped to 1,000;
        other out-of-contract values fall back to the default of 100.
      operationId: getMarketDepth
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
        - $ref: '#/components/parameters/DepthLimitParam'
      responses:
        '200':
          description: Depth snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepthSnapshot'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /market/{symbol}/spotExecutions:
    get:
      summary: Get spot executions for market
      description: Returns up to 100 spot executions for a given market.
      operationId: getMarketSpotExecutions
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: List of spot executions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotExecutionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /market/{symbol}/executionBusts:
    get:
      summary: Get execution busts for market
      description: |
        Returns up to 100 execution busts (failed fills) for a given market, covering both spot and perp markets.
        Clients can distinguish spot vs perp entries from the `symbol` suffix (`*RUSDPERP` for perp, `*RUSD` for spot).
      operationId: getMarketExecutionBusts
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: List of execution busts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionBustList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /candleHistory/{symbol}/{resolution}:
    get:
      summary: Get historical candles
      description: Returns up to 200 candles for a given market, sorted by time in descending order, and ending at the specified end time.
      operationId: getCandles
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
        - $ref: '#/components/parameters/ResolutionParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: Historical candle data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandleHistoryData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/accounts:
    get:
      summary: Get wallet accounts
      operationId: getWalletAccounts
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
      responses:
        '200':
          description: List of accounts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/executionBusts:
    get:
      summary: Get wallet execution busts
      description: Returns up to 100 execution busts (failed fills) for a given wallet, covering both spot and perp markets. Use the `symbol` suffix to distinguish spot from perp busts.
      operationId: getWalletExecutionBusts
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: List of execution busts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionBustList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/perpExecutions:
    get:
      summary: Get wallet perp executions
      description: Returns up to 100 perp executions for a given wallet.
      operationId: getWalletPerpExecutions
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
        - $ref: '#/components/parameters/ExecutionTypeParam'
      responses:
        '200':
          description: List of perpetual executions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerpExecutionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/spotExecutions:
    get:
      summary: Get wallet spot executions
      description: Returns up to 100 spot executions for a given wallet.
      operationId: getWalletSpotExecutions
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: List of spot executions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotExecutionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/orderHistory:
    get:
      summary: Get wallet order history
      description: |
        Returns up to 100 historical matching-engine order state updates for a
        wallet, newest first. Each row is one public `Order` projection emitted
        by the matching engine for one of the wallet's accounts, covering both
        spot and perp markets once the matching-engine order-history writer is
        enabled for the environment.

        This endpoint is for retail/account-history views and support tooling.
        It is not intended for market-maker ingestion, audit logs, or
        high-throughput reconciliation. The backing service stores bounded
        history per account and can automatically exclude high-throughput
        accounts from persistence; market makers should capture their own
        durable order timeline from the `orderChanges` WebSocket stream.

        Pagination follows the same descending time-window convention as the
        wallet execution endpoints. `startTime` and `endTime` are millisecond
        POSIX timestamps matched against each row's matching-engine event time
        (`lastUpdateAt`). Results are returned newest-first; `meta.startTime`
        is the newest returned row timestamp and `meta.endTime` is the oldest
        returned row timestamp. Because `endTime` is an inclusive upper bound,
        clients that pass the previous `meta.endTime` may receive boundary
        rows again and should deduplicate overlap by `Order.sequenceNumber`.
        Clients that do not need to preserve same-millisecond boundary ties may
        page backward with `endTime = meta.endTime - 1`.
      operationId: getWalletOrderHistory
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: Paginated list of order state updates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderHistoryList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/positions:
    get:
      summary: Get wallet positions
      operationId: getWalletPositions
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
      responses:
        '200':
          description: List of positions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Position'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/accountBalances:
    get:
      summary: Get wallet account balances
      description: Returns all account real balances for a wallet.
      operationId: getWalletAccountBalances
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
      responses:
        '200':
          description: List of account balances
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountBalance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/openOrders:
    get:
      summary: Get wallet open orders
      description: Returns all pending orders for a wallet.
      operationId: getWalletOpenOrders
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
      responses:
        '200':
          description: List of open orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/configuration:
    get:
      summary: Get wallet configuration
      description: Returns trading configuration for a wallet
      operationId: getWalletConfiguration
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
      responses:
        '200':
          description: Wallet configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletConfiguration'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /createOrder:
    post:
      summary: Create order
      description: |
        Create a new order (IOC, GTC, GTT, SL, TP). Supports both spot and perp markets.

        All order types route through the matching engine on a unified `marketId` namespace;
        the legacy off-chain conditional-order (DB-backed) path is retired. `timeInForce` is
        REQUIRED on every create, for every order class — earlier revisions let a trigger create omit
        it, implying `GTC`; from 3.1.0 an omitted `timeInForce` fails schema validation. Triggers are
        **perp-only** — a `STOP_LOSS` / `TAKE_PROFIT` on a spot market is rejected.

        **Armed phase.** A `STOP_LOSS` / `TAKE_PROFIT` create carries `orderType` + `triggerPx`
        end-to-end and is **armed and tracked** by the matching engine: the trigger is held in the
        trigger store rather than the book, so it is not executable liquidity while armed. It stays
        modifiable and cancellable, and surfaces as `OPEN` on `openOrders`, the `walletOrderChanges`
        stream, and order history — carrying `triggered: false` on the first two. Order-history rows
        omit `triggered` entirely: the stored history has no armed-vs-fired discriminator, so its
        absence there means unknown rather than `false`.

        **Choosing the fired child.** `timeInForce` on a trigger create chooses what the stop
        becomes when it fires: `IOC` (fill what the book offers, cancel the remainder), `GTC` (rest
        the remainder until cancelled) or `GTT` (rest it until the shared deadline below). A `GTT`
        trigger MUST carry a future `expiresAfter`; `GTC` and `IOC` triggers MUST omit it — an `IOC`
        trigger that carries one is rejected with `INPUT_VALIDATION_ERROR` at the API edge, and with
        the matching engine's own `TRIGGER_IOC_MUST_NOT_EXPIRE_ERROR` guard when requests reach the
        engine directly.

        That single `expiresAfter` is one absolute deadline shared by both phases — the armed
        trigger's lifetime AND the fired child's hard on-chain settlement deadline — so an hour spent
        armed is an hour the child does not get. Both phases stop one **settlement headroom** BEFORE
        that deadline rather than at it: a fill taken inside the headroom could not be settled on
        chain before `expiresAfter` and would revert `OrderExpired`, so the exchange closes the
        window early instead. Concretely, a `GTT` trigger stops being fireable — and a `GTT` child
        already resting in the book stops being matchable — at `expiresAfter` minus the headroom,
        and whichever of the two the boundary finds is cancelled there as `CANCELLED` with
        `cancelReason: GTT_EXPIRED`. Treat the last stretch before `expiresAfter` as dead time and
        size the deadline for the protective window PLUS the headroom.

        The headroom is a venue parameter: the exchange sets it, it is the same for every market, it
        is neither client-supplied nor published on this API, and it is at least a minute on
        production deployments. A create whose own `expiresAfter` does not clear it is refused at
        admission with `ORDER_EXPIRES_TOO_SOON_ERROR` — nothing is armed — rather than accepted into
        a window it could never fire in.

        **Pricing the fired child.** `limitPx` is the worst price the child may execute at, not a pad
        on `triggerPx`, and admission bounds how far the two may sit apart:
        `|limitPx − triggerPx| <= triggerPx × triggerLimitBandFraction`, per market. Read
        `triggerLimitBandFraction` from `GET /v2/perpMarketDefinitions` — never hardcode a band — and
        derive the outermost legal limit as the last `tickSize`-aligned price at or inside
        `triggerPx × (1 ± band)`, rounding INWARD toward the trigger; with a band of `0.05` and a
        `triggerPx` of `4000`, legal `limitPx` values lie in `[3800, 4200]`. Outside the band, the
        create is rejected with `TRIGGER_LIMIT_OUTSIDE_BAND_ERROR`.

        Read the published fraction by presence as well as by value: a positive fraction is an
        active band; `"0"` disables the band and admits any positive `limitPx`; and a market whose
        `MarketDefinition` carries NO `triggerLimitBandFraction` has no band configured and is not
        currently accepting stops — every trigger create on it is rejected with the same
        `TRIGGER_LIMIT_OUTSIDE_BAND_ERROR`, with the `message` distinguishing the two causes. An
        absent fraction is NOT a band of `"0"`: `"0"` admits every limit price and absence admits
        none. Absence also covers the window before the exchange has published a market's reference
        data, where the consequence for the client is the same.

        **Firing.** When the mark price crosses `triggerPx`, the trigger fires into an ordinary order
        carrying the chosen `timeInForce`, and that order surfaces with `triggered: true`. A fire
        that commits cancels the OCO sibling — the paired opposite-type stop on the same account and
        market — with `cancelReason: OCO_SIBLING_FIRED`, including a fire that fills nothing: one
        fire consumes both legs. A partial `IOC` fire leaves the residual position unprotected.
        Re-arming is always the user's move; cancelling one leg by hand leaves the sibling armed. A
        firing stop that would match the account's own resting liquidity sweeps those maker orders
        out of its way — they are cancelled with `PROTECTIVE_SELF_TRADE_SWEEP` rather than the stop
        being cancelled, which is what distinguishes the sweep from ordinary
        `SELF_TRADE_PREVENTION`.

        A fire can also be refused before any child exists, and then BOTH legs are cancelled with the
        reason for the refusal rather than with `OCO_SIBLING_FIRED` — that reason is written only
        when a fire actually commits. Either there is nothing left to reduce (the position closed or
        flipped under the stop, or what remains is below one tradeable lot), and both legs are
        cancelled with `cancelReason: POSITION_CLOSED`; or the pre-trade risk checks refuse the close
        itself, and both legs are cancelled with `cancelReason: RISK_REJECTED`. Which individual
        risk check refused it is NOT published — `cancelReasonMessage` is a fixed explanatory string
        per `cancelReason`, so do not parse it or branch on it. No child order is created on either path,
        so both cancellations arrive on orders that still carry `triggered: false`. Nothing rests,
        nothing fills, and the protection is terminally gone — the stop is not retried or re-armed
        when the account recovers, so re-arming is the user's move.

        A resting fired child is an ordinary book order with three exceptions: its fills are clamped
        to the position still reducible at that moment (a clamp to zero cancels the remainder with
        `POSITION_CLOSED`), so its displayed remaining quantity can exceed its fillable size; it is
        **cancel-only**, so a `modifyOrder` against it is refused; and it is **not** removed when the
        position closes by another route. It blocks the account's own crossing orders through standard
        self-trade prevention, `POST /v2/cancelAll` clears it while an armed cancel-all-after countdown
        leaves it in place, and a `GTT` child is removed from the book by the ordinary expiry reaper
        one settlement headroom BEFORE the shared deadline — not at it — arriving as `CANCELLED`
        with `cancelReason: GTT_EXPIRED`.

        Stops and their fired children are **structurally** reduce-only — they close the position and
        can never open one — while the signed `reduceOnly` field stays `false`; do not read that
        `false` as permission to open a position.

        Also available on the order-entry WebSocket (`asyncapi-exec-v2.yaml`, `createOrder`).
      operationId: createOrder
      tags:
        - Order Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '200':
          description: Order creation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /modifyOrder:
    post:
      summary: Modify order
      description: |
        Modify a resting order in place. The order keeps its `orderId` and `clientOrderId`.
        Target by `orderId` when present, otherwise by a non-zero `clientOrderId`.
        JSON Schema validates target presence only; the server enforces the non-zero rule for
        sole `clientOrderId` targets.
        The same `clientOrderId` field restates the resting order's immutable client id for signing.
        If both identifiers are supplied, `orderId` is canonical for lookup and `clientOrderId`
        is the restated immutable. If the resting order has no client id, omit `clientOrderId`;
        do not send a placeholder value.
        **Full restate:** the body carries the same fields as `createOrder` (the complete post-modify
        `OrderDetails`) plus the target id — restate every value, even unchanged ones; omitted fields
        never "inherit from the resting order".
        The modifiable fields are class-split: for a `LIMIT` modify they are `limitPx`, `qty`, `postOnly`,
        `expiresAfter` (and `triggerPx` is forbidden); for a `STOP_LOSS`/`TAKE_PROFIT` modify ONLY
        `limitPx` and `triggerPx` are modifiable — `qty` stays omitted (wire quantity 0; the signed
        quantity restates the full-position sentinel), and `postOnly=false`, the `timeInForce` chosen
        at creation and its `expiresAfter` are restated immutables (changing any returns
        `INPUT_VALIDATION_ERROR` from the ME's immutable-match): giving a stop a different fired-child
        time in force, or a different shared expiry, means cancelling it and creating a new one. Only an
        **armed** trigger (`triggered: false`) is modifiable — once it has fired, the resting child is
        cancel-only and a modify against it is refused. A re-priced trigger has its post-modify
        `limitPx`/`triggerPx` pair re-checked against the market's `triggerLimitBandFraction` exactly as
        at creation — including the three-state reading of that field, so a market that publishes no
        fraction refuses the modify just as it refuses a create — and a pair outside the band is
        rejected with `TRIGGER_LIMIT_OUTSIDE_BAND_ERROR`.
        The rest (`exchangeId`,
        `isBuy`, `orderType`, `timeInForce`, `reduceOnly`, `clientOrderId`, `accountId`,
        `signerWallet`) are immutable and must be restated at the resting order's values — a mismatch
        is rejected with `INPUT_VALIDATION_ERROR` (the ME's internal `MODIFY_IMMUTABLE_MISMATCH` is
        surfaced as `INPUT_VALIDATION_ERROR`). A `STOP_LOSS`/`TAKE_PROFIT` order is re-priced in
        place (full restate): `triggerPx` is REQUIRED on a trigger modify — a trigger modify that
        omits it is rejected with `INPUT_VALIDATION_ERROR`. `qty` is omitted on a
        `STOP_LOSS`/`TAKE_PROFIT` modify (the signed quantity restates the full-position sentinel `±int256.max`, sign from `isBuy`) and required for a `LIMIT`
        modify. A `LIMIT` request whose post-modify state equals the
        order's current state is rejected with `EMPTY_MODIFY_ERROR`; a trigger restated at unchanged
        `limitPx` and `triggerPx` is instead accepted and applied, so a stop can be re-signed with a
        fresh `signature`, `nonce` and `deadline` without moving its prices. Queue priority: a `qty` decrease
        at an unchanged `limitPx` preserves the order's place in the book; any `limitPx` change or
        `qty` increase loses it. `timeInForce` is immutable for every class, so `expiresAfter` is
        omitted for GTC and IOC and set to a future timestamp greater than `deadline` for GTT. A post-only modification that
        would cross is rejected with no mutation; a non-post-only modification that crosses executes —
        the response reports `execQty` and `status`, with per-fill detail on the streaming surface, as
        with `createOrder`. Omit `triggerPx` for a `LIMIT` order. The fresh EIP-712 signature (same
        `Order` / `OrderDetails` envelope as `createOrder`) is verified over exactly the restated
        fields; a fresh `nonce` is required.
        Also available on the order-entry WebSocket (`asyncapi-exec-v2.yaml`, `modifyOrder`).
      operationId: modifyOrder
      tags:
        - Order Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyOrderRequest'
      responses:
        '200':
          description: Order modification response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /cancelOrder:
    post:
      summary: Cancel order
      description: |
        Cancel an existing order. Supports both spot and perp markets. All single cancels — spot and perp,
        including TP/SL — route through the matching engine on a unified `marketId` namespace. `accountId`,
        `nonce`, and `deadline` are required and bound into the EIP-712 signature. Also available on the
        order-entry WebSocket (`asyncapi-exec-v2.yaml`, `cancelOrder`).
      operationId: cancelOrder
      tags:
        - Order Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderRequest'
      responses:
        '200':
          description: Order cancellation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /cancelAll:
    post:
      summary: Cancel all orders
      description: Cancel all orders matching the specified filters (mass cancel). Supports both spot and perp markets. Also available on the order-entry WebSocket (`asyncapi-exec-v2.yaml`, `cancelAll`).
      operationId: cancelAll
      tags:
        - Order Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MassCancelRequest'
      responses:
        '200':
          description: Mass cancel response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassCancelResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /cancelAllAfter:
    post:
      summary: Set cancel-all-after countdown
      description: |
        Arm, refresh, or disarm an account-scoped dead-man's-switch countdown. While armed, all open
        orders for `accountId` — the same scope as `POST /v2/cancelAll` with no `symbol` filter, EXCEPT
        protective stops (`STOP_LOSS` / `TAKE_PROFIT`), which are deliberately left in place whether
        still armed in the matching engine's trigger store or already fired into a resting child — are
        mass-cancelled if the countdown is not refreshed with another call before `timeoutMs` elapses.
        `timeoutMs: 0` disarms; non-zero values must be within [5000, 60000] milliseconds. Refresh is
        explicit only — order entry, WebSocket ping/pong, and connection close neither refresh nor
        trigger the countdown. `accountId`, `timeoutMs`, `nonce`, and `deadline` are bound into the
        EIP-712 `CancelAllAfter` signature; `deadline` is the signature-validity window (Unix seconds),
        not the countdown trigger time. The response returns an advisory trigger timestamp (`triggerAt`,
        milliseconds; omitted when disarming). Also available on the order-entry WebSocket
        (`asyncapi-exec-v2.yaml`, `cancelAllAfter`).
      operationId: cancelAllAfter
      tags:
        - Order Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelAllAfterRequest'
      responses:
        '200':
          description: Cancel-all-after response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelAllAfterResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  parameters:
    SymbolParam:
      name: symbol
      in: path
      required: true
      description: Trading symbol (e.g., BTCRUSDPERP)
      schema:
        $ref: './trading-schemas.json#/definitions/Symbol'
        example: BTCRUSDPERP

    AddressParam:
      name: address
      in: path
      required: true
      schema:
        $ref: './trading-schemas.json#/definitions/Address'
        example: '0x6c51275fd01d5dbd2da194e92f920f8598306df2'

    StartTimeParam:
      name: startTime
      in: query
      required: false
      description: >-
        Return results at or after this time (inclusive lower bound).
        Millisecond POSIX timestamp, matched against the endpoint's record
        timestamp. Execution and bust endpoints use on-chain block timestamps;
        orderHistory uses the matching-engine event timestamp exposed as
        `lastUpdateAt`.
      schema:
        $ref: './trading-schemas.json#/definitions/UnsignedInteger'
        example: 1756733379000

    EndTimeParam:
      name: endTime
      in: query
      required: false
      description: >-
        Return results at or before this time (inclusive upper bound).
        Millisecond POSIX timestamp, matched against the endpoint's record
        timestamp. Execution and bust endpoints use on-chain block timestamps;
        orderHistory uses the matching-engine event timestamp exposed as
        `lastUpdateAt`. Results are returned newest-first and capped at a
        maximum that varies by endpoint. Because this bound is inclusive,
        passing the oldest timestamp from the previous page can repeat boundary
        rows; clients can deduplicate overlap or subtract 1ms when same-ms
        boundary ties are not relevant.
      schema:
        $ref: './trading-schemas.json#/definitions/UnsignedInteger'
        example: 1756733679000

    ExecutionTypeParam:
      name: type
      in: query
      required: false
      description: Filter perp executions by their exact response type. Omit to return executions of all types.
      schema:
        type: string
        enum:
          - ORDER_MATCH
          - LIQUIDATION
          - ADL
          - MARKET_CLOSE
        example: LIQUIDATION

    DepthLimitParam:
      name: limit
      in: query
      required: false
      description: >-
        Optional cap on the number of aggregated price levels returned per side.
        The default is 100 and the maximum is 1,000. When set to N within the
        declared range, the response contains the top N levels on each side —
        the N best (highest) bids and the N best (lowest) asks. Values above the
        maximum are clamped to 1,000; other out-of-contract values are not
        rejected and instead fall back to the default of 100.
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 100
        example: 10

    ResolutionParam:
      name: resolution
      in: path
      required: true
      description: Candle resolution
      schema:
        type: string
        enum: ['1m', '5m', '15m', '30m', '1h', '4h', '1d']
        example: '1m'

  schemas:
    RequestError:
      $ref: './trading-schemas.json#/definitions/RequestError'

    ServerError:
      $ref: './trading-schemas.json#/definitions/ServerError'

    MarketDefinition:
      $ref: './trading-schemas.json#/definitions/MarketDefinition'

    SpotMarketDefinition:
      $ref: './trading-schemas.json#/definitions/SpotMarketDefinition'

    AssetDefinition:
      $ref: './trading-schemas.json#/definitions/AssetDefinition'

    FeeTierParameters:
      $ref: './trading-schemas.json#/definitions/FeeTierParameters'

    GlobalFeeParameters:
      $ref: './trading-schemas.json#/definitions/GlobalFeeParameters'

    WalletConfiguration:
      $ref: './trading-schemas.json#/definitions/WalletConfiguration'

    MarketSummary:
      $ref: './trading-schemas.json#/definitions/MarketSummary'

    SpotMarketSummary:
      $ref: './trading-schemas.json#/definitions/SpotMarketSummary'

    Position:
      $ref: './trading-schemas.json#/definitions/Position'

    Order:
      $ref: './trading-schemas.json#/definitions/Order'

    OrderHistoryList:
      $ref: './trading-schemas.json#/definitions/OrderHistoryList'

    Account:
      $ref: './trading-schemas.json#/definitions/Account'

    AccountBalance:
      $ref: './trading-schemas.json#/definitions/AccountBalance'

    PerpExecutionList:
      $ref: './trading-schemas.json#/definitions/PerpExecutionList'

    SpotExecutionList:
      $ref: './trading-schemas.json#/definitions/SpotExecutionList'

    ExecutionBust:
      $ref: './trading-schemas.json#/definitions/ExecutionBust'

    ExecutionBustList:
      $ref: './trading-schemas.json#/definitions/ExecutionBustList'

    AssetOraclePrice:
      $ref: './trading-schemas.json#/definitions/AssetOraclePrice'

    CandleHistoryData:
      $ref: './trading-schemas.json#/definitions/CandleHistoryData'

    CreateOrderRequest:
      $ref: './trading-schemas.json#/definitions/CreateOrderRequest'

    CreateOrderResponse:
      $ref: './trading-schemas.json#/definitions/CreateOrderResponse'

    ModifyOrderRequest:
      $ref: './trading-schemas.json#/definitions/ModifyOrderRequest'

    ModifyOrderResponse:
      $ref: './trading-schemas.json#/definitions/ModifyOrderResponse'

    CancelOrderRequest:
      $ref: './trading-schemas.json#/definitions/CancelOrderRequest'

    CancelOrderResponse:
      $ref: './trading-schemas.json#/definitions/CancelOrderResponse'

    MassCancelRequest:
      $ref: './trading-schemas.json#/definitions/MassCancelRequest'

    MassCancelResponse:
      $ref: './trading-schemas.json#/definitions/MassCancelResponse'

    CancelAllAfterRequest:
      $ref: './trading-schemas.json#/definitions/CancelAllAfterRequest'

    CancelAllAfterResponse:
      $ref: './trading-schemas.json#/definitions/CancelAllAfterResponse'

    Depth:
      $ref: './trading-schemas.json#/definitions/Depth'

    DepthType:
      $ref: './trading-schemas.json#/definitions/DepthType'

    DepthSnapshot:
      $ref: './trading-schemas.json#/definitions/DepthSnapshot'

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RequestError'
          example:
            error: INPUT_VALIDATION_ERROR
            message: Invalid request parameters

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ServerError'
          example:
            error: INTERNAL_SERVER_ERROR
            message: An unexpected error occurred

tags:
  - name: Specs
    description: OpenAPI and AsyncAPI specs
  - name: Reference Data
    description: Market definitions, fee parameters, asset configuration, etc.
  - name: Market Data
    description: Prices, market-level trades, depth, candles, etc.
  - name: Wallet Data
    description: Accounts, positions, trades, etc.
  - name: Order Entry
    description: Order entry operations
