openapi: 3.0.3
info:
  title: Reya DEX Trading API v2
  version: 3.4.0
  contact:
    name: Reya Network
    url: https://reya.xyz
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.reya.xyz/v2
    description: Production server
  - url: https://api-devnet.reya-cronos.network/v2
    description: Devnet server for Perp OB integration
  - url: https://api-test.reya.xyz/v2
    description: Testnet server

paths:
  /openapi-spec.yaml:
    get:
      summary: Get OpenAPI specification
      description: Returns the complete OpenAPI specification for this API in YAML format
      operationId: getOpenApiSpec
      tags:
        - Specs
      responses:
        '200':
          description: OpenAPI specification in YAML format
          content:
            application/yaml:
              schema:
                type: string
                format: binary
        '500':
          $ref: '#/components/responses/InternalServerError'

  /asyncapi-spec.yaml:
    get:
      summary: Get AsyncAPI specification
      description: Returns the complete AsyncAPI specification for WebSocket API in YAML format
      operationId: getAsyncApiSpec
      tags:
        - Specs
      responses:
        '200':
          description: AsyncAPI specification in YAML format
          content:
            application/yaml:
              schema:
                type: string
                format: binary
        '500':
          $ref: '#/components/responses/InternalServerError'

  /asyncapi-exec-spec.yaml:
    get:
      summary: Get order-entry AsyncAPI specification
      description: Returns the complete AsyncAPI specification for the order-entry WebSocket API in YAML format
      operationId: getAsyncExecApiSpec
      tags:
        - Specs
      responses:
        '200':
          description: Order-entry AsyncAPI specification in YAML format
          content:
            application/yaml:
              schema:
                type: string
                format: binary
        '500':
          $ref: '#/components/responses/InternalServerError'

  /perpMarketDefinitions:
    get:
      summary: Get perp market definitions
      description: Canonical perp market definitions endpoint for perpOB. Replaces the removed AMM-era `/marketDefinitions` route.
      operationId: getPerpMarketDefinitions
      tags:
        - Reference Data
      responses:
        '200':
          description: List of perp market definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarketDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /spotMarketDefinitions:
    get:
      summary: Get spot market definitions
      operationId: getSpotMarketDefinitions
      tags:
        - Reference Data
      responses:
        '200':
          description: List of spot market definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpotMarketDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /spotMarkets/summary:
    get:
      summary: Get spot market summaries
      description: Statistics and throttled market data for all spot markets. Recalculated every 0.5s
      operationId: getSpotMarketsSummary
      tags:
        - Market Data
      responses:
        '200':
          description: List of spot market summaries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpotMarketSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /spotMarket/{symbol}/summary:
    get:
      summary: Get spot market summary
      description: Statistics and throttled market data for a specific spot market. Recalculated every 0.5s
      operationId: getSpotMarketSummary
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
      responses:
        '200':
          description: Spot market summary data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotMarketSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /assetDefinitions:
    get:
      summary: Get asset definitions
      operationId: getAssetDefinitions
      tags:
        - Reference Data
      responses:
        '200':
          description: List of asset definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssetDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /globalFeeParameters:
    get:
      summary: Get global fee parameters
      operationId: getGlobalFeeParameters
      tags:
        - Reference Data
      responses:
        '200':
          description: Global fee parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalFeeParameters'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /feeTiers:
    get:
      summary: Get fee tiers
      operationId: getFeeTierParameters
      tags:
        - Reference Data
      responses:
        '200':
          description: List of fee tier parameters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeeTierParameters'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /perpMarkets/summary:
    get:
      summary: Get perp market summaries
      description: Perp market summary route mirroring the `/spotMarkets/summary` naming. Statistics and throttled market data for all perp markets. Recalculated every 0.5s
      operationId: getPerpMarketsSummary
      tags:
        - Market Data
      responses:
        '200':
          description: List of perp market summaries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarketSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /perpMarket/{symbol}/summary:
    get:
      summary: Get perp market summary
      description: Perp market summary route mirroring the `/spotMarket/{symbol}/summary` naming. Statistics and throttled data for a specific perp market. Recalculated every 0.5s
      operationId: getPerpMarketSummary
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
      responses:
        '200':
          description: Market summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /assetOraclePrices:
    get:
      summary: Get asset oracle prices
      description: Asset Stork oracle prices. This feed deliberately omits the AMM-era `poolPrice` field.
      operationId: getAssetOraclePrices
      tags:
        - Market Data
      responses:
        '200':
          description: List of asset oracle prices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssetOraclePrice'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /market/{symbol}/perpExecutions:
    get:
      summary: Get perp executions for market
      description: Returns up to 100 perp executions for a given market.
      operationId: getMarketPerpExecutions
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
        - $ref: '#/components/parameters/ExecutionTypeParam'
      responses:
        '200':
          description: List of perp executions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerpExecutionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /market/{symbol}/depth:
    get:
      summary: Get market depth snapshot
      description: |
        Returns an L2 order book snapshot with aggregated price levels for the specified market.
        Supports both spot and perp markets.

        By default the top 100 aggregated price levels per side are returned. Pass the optional
        `limit` query parameter to request between 1 and 1,000 levels per side — the `limit` best
        (highest) bids and the `limit` best (lowest) asks. Values above 1,000 are clamped to 1,000;
        other out-of-contract values fall back to the default of 100.
      operationId: getMarketDepth
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
        - $ref: '#/components/parameters/DepthLimitParam'
      responses:
        '200':
          description: Depth snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepthSnapshot'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /market/{symbol}/spotExecutions:
    get:
      summary: Get spot executions for market
      description: Returns up to 100 spot executions for a given market.
      operationId: getMarketSpotExecutions
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: List of spot executions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotExecutionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /market/{symbol}/executionBusts:
    get:
      summary: Get execution busts for market
      description: |
        Returns up to 100 execution busts (failed fills) for a given market, covering both spot and perp markets.
        Clients can distinguish spot vs perp entries from the `symbol` suffix (`*RUSDPERP` for perp, `*RUSD` for spot).
      operationId: getMarketExecutionBusts
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: List of execution busts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionBustList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /candleHistory/{symbol}/{resolution}:
    get:
      summary: Get historical candles
      description: Returns up to 200 candles for a given market, sorted by time in descending order, and ending at the specified end time.
      operationId: getCandles
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
        - $ref: '#/components/parameters/ResolutionParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: Historical candle data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandleHistoryData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/accounts:
    get:
      summary: Get wallet accounts
      operationId: getWalletAccounts
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
      responses:
        '200':
          description: List of accounts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/executionBusts:
    get:
      summary: Get wallet execution busts
      description: Returns up to 100 execution busts (failed fills) for a given wallet, covering both spot and perp markets. Use the `symbol` suffix to distinguish spot from perp busts.
      operationId: getWalletExecutionBusts
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: List of execution busts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionBustList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/perpExecutions:
    get:
      summary: Get wallet perp executions
      description: Returns up to 100 perp executions for a given wallet.
      operationId: getWalletPerpExecutions
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
        - $ref: '#/components/parameters/ExecutionTypeParam'
      responses:
        '200':
          description: List of perpetual executions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerpExecutionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/spotExecutions:
    get:
      summary: Get wallet spot executions
      description: Returns up to 100 spot executions for a given wallet.
      operationId: getWalletSpotExecutions
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: List of spot executions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotExecutionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/orderHistory:
    get:
      summary: Get wallet order history
      description: |
        Returns up to 100 historical order state updates for a wallet, newest first.
        Each row is one `Order` update for one of the wallet's accounts, across spot and perp markets.

        History is limited and may be unavailable for high-volume accounts. This endpoint is for
        account-history views; it is not a complete audit log. Market makers should maintain their
        own order history from the `orderChanges` WebSocket stream and reconcile against current
        open orders after a disconnect.

        `startTime` and `endTime` are millisecond Unix timestamps matched against `lastUpdateAt`.
        Results are newest-first: `meta.startTime` is the newest returned timestamp and `meta.endTime`
        is the oldest. `endTime` is inclusive, so passing the previous `meta.endTime` may repeat
        boundary rows; deduplicate using `Order.sequenceNumber`. Clients that do not need to preserve
        same-millisecond boundary ties may page backward with `endTime = meta.endTime - 1`.
      operationId: getWalletOrderHistory
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: Paginated list of order state updates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderHistoryList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/positions:
    get:
      summary: Get wallet positions
      operationId: getWalletPositions
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
      responses:
        '200':
          description: List of positions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Position'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/accountBalances:
    get:
      summary: Get wallet account balances
      description: Returns all account real balances for a wallet.
      operationId: getWalletAccountBalances
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
      responses:
        '200':
          description: List of account balances
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountBalance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/openOrders:
    get:
      summary: Get wallet open orders
      description: Returns all pending orders for a wallet.
      operationId: getWalletOpenOrders
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
      responses:
        '200':
          description: List of open orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/configuration:
    get:
      summary: Get wallet configuration
      description: Returns trading configuration for a wallet
      operationId: getWalletConfiguration
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
      responses:
        '200':
          description: Wallet configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletConfiguration'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /createOrder:
    post:
      summary: Create order
      description: |
        Create a new spot or perp order. `timeInForce` is required for every order class.
        STOP_LOSS and TAKE_PROFIT orders are supported only on perp markets.

        **Armed stops.** A protective stop is not executable liquidity until it fires. While armed,
        it remains modifiable and cancellable and appears as `OPEN`, with `triggered: false` in
        `openOrders` and `walletOrderChanges`. Order-history rows omit `triggered`; its absence
        there means unknown, not `false`.

        **Time in force and expiry.** For a stop, `timeInForce` selects the fired child's behavior:
        IOC fills available liquidity and cancels the remainder; GTC rests the remainder until
        cancelled; GTT rests it until expiry. Only GTT carries `expiresAfter`, which must be in the
        future and strictly greater than the signature's `deadline`. GTC and IOC must omit it.
        Invalid combinations return `INPUT_VALIDATION_ERROR` or `TRIGGER_IOC_MUST_NOT_EXPIRE_ERROR`.

        A GTT stop and its child share one absolute `expiresAfter`; firing does not start a new
        lifetime. The stop or resting child can be cancelled before that timestamp to allow
        settlement, with `cancelReason: GTT_EXPIRED`. Choose an expiry with sufficient time for
        both protection and settlement. An expiry that is too near returns `ORDER_EXPIRES_TOO_SOON_ERROR`.
        The signature's `deadline` controls request acceptance only; passing it does not disarm
        an accepted stop or prevent its child from executing.

        **Execution price.** `limitPx` is the child's worst acceptable execution price, not an
        offset from `triggerPx`. It must be within the permitted range around `triggerPx`.
        `TRIGGER_LIMIT_OUTSIDE_BAND_ERROR` indicates an out-of-range limit or that stops are
        unavailable for the market. If the limit is out of range, move it closer to the trigger
        and re-sign; changing the price will not resolve market unavailability.

        **Firing and paired stops.** When the mark price crosses `triggerPx`, the stop attempts
        to create its child. A created child has `triggered: true` and cancels the paired stop
        on the same account and market with `OCO_SIBLING_FIRED`, even if it fills nothing.
        A partial IOC fill can leave the remaining position without protection. Protection is
        not automatically re-armed. Manually cancelling one protective leg leaves its sibling armed.
        If a protective child would self-trade, the account's conflicting resting maker orders
        are cancelled with `PROTECTIVE_SELF_TRADE_SWEEP` so the child can execute.

        If no tradeable position remains to reduce (the position closed, reversed, or is below one
        lot), both legs are cancelled with `POSITION_CLOSED`. If the proposed child fails pre-trade
        risk checks, both legs are cancelled with `RISK_REJECTED`. In either case, no child is created,
        both orders retain `triggered: false`, and protection is not automatically retried or re-armed.
        Use `cancelReason` for handling; do not parse `cancelReasonMessage`.

        **Resting children.** Firing does not guarantee a fill. A GTC/GTT child can remain unfilled
        at `limitPx` if the market moves past it. Its fills cannot exceed the current reducible
        position, so displayed remaining quantity can exceed what can execute. A zero reducible
        quantity when it attempts to fill cancels the remainder with `POSITION_CLOSED`; closing the
        position by another route does not immediately remove the child. A fired child is cancel-only:
        `modifyOrder` is refused. Ordinary self-trade prevention applies to the account's new crossing
        orders. Explicit `cancelAll` includes the child; cancel-all-after leaves it in place.

        Stops and their children only reduce positions, even though their signed `reduceOnly`
        field is `false`. They cannot open a new position.

        Also available on the order-entry WebSocket (`asyncapi-exec-v2.yaml`, `createOrder`).
      operationId: createOrder
      tags:
        - Order Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '200':
          description: Order creation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /modifyOrder:
    post:
      summary: Modify order
      description: |
        Modify a resting order in place. The order keeps its `orderId` and `clientOrderId`.
        Target by `orderId` when present, otherwise by a non-zero `clientOrderId`.
        The same `clientOrderId` field restates the resting order's immutable client id for signing.
        If both identifiers are supplied, `orderId` is canonical for lookup and `clientOrderId`
        is the restated immutable. If the resting order has no client id, omit `clientOrderId`;
        do not send a placeholder value.
        **Full restate:** the body carries the same fields as `createOrder` (the complete post-modify
        `OrderDetails`) plus the target id — restate every value, even unchanged ones; omitted fields
        never "inherit from the resting order".
        The modifiable fields are class-split: for a `LIMIT` modify they are `limitPx`, `qty`, `postOnly`,
        `expiresAfter` (and `triggerPx` is forbidden); for a `STOP_LOSS`/`TAKE_PROFIT` modify ONLY
        `limitPx` and `triggerPx` are modifiable — `qty` stays omitted (the signed
        quantity restates the full-position sentinel), and `postOnly=false`, the `timeInForce` chosen
        at creation and its `expiresAfter` are restated immutables (changing any returns
        `INPUT_VALIDATION_ERROR`): giving a stop a different fired-child
        time in force, or a different shared expiry, means cancelling it and creating a new one. Only an
        **armed** trigger (`triggered: false`) is modifiable — once it has fired, the resting child is
        cancel-only and a modify against it is refused. A re-priced trigger has its post-modify
        `limitPx`/`triggerPx` pair re-checked against the market's trigger band exactly as at
        creation, and a pair outside it is rejected with `TRIGGER_LIMIT_OUTSIDE_BAND_ERROR`.
        The rest (`exchangeId`,
        `isBuy`, `orderType`, `timeInForce`, `reduceOnly`, `clientOrderId`, `accountId`,
        `signerWallet`) are immutable and must be restated at the resting order's values — a mismatch
        is rejected with `INPUT_VALIDATION_ERROR`. A `STOP_LOSS`/`TAKE_PROFIT` order is re-priced in
        place (full restate): `triggerPx` is REQUIRED on a trigger modify — a trigger modify that
        omits it is rejected with `INPUT_VALIDATION_ERROR`. `qty` is omitted on a
        `STOP_LOSS`/`TAKE_PROFIT` modify (the signed quantity restates the full-position sentinel `±int256.max`, sign from `isBuy`) and required for a `LIMIT`
        modify. A `LIMIT` request whose post-modify state equals the
        order's current state is rejected with `EMPTY_MODIFY_ERROR`; a trigger restated at unchanged
        `limitPx` and `triggerPx` is instead accepted and applied, so a stop can be re-signed with a
        fresh `signature`, `nonce` and `deadline` without moving its prices. Queue priority: a `qty` decrease
        at an unchanged `limitPx` preserves the order's place in the book; any `limitPx` change or
        `qty` increase loses it. `timeInForce` is immutable for every class, so `expiresAfter` is
        omitted for GTC and IOC and set to a future timestamp greater than `deadline` for GTT. A post-only modification that
        would cross is rejected with no mutation; a non-post-only modification that crosses executes —
        the response reports `execQty` and `status`, with per-fill detail on the streaming surface, as
        with `createOrder`. Omit `triggerPx` for a `LIMIT` order. The fresh EIP-712 signature (same
        `Order` / `OrderDetails` envelope as `createOrder`) is verified over exactly the restated
        fields; a fresh `nonce` is required.
        Also available on the order-entry WebSocket (`asyncapi-exec-v2.yaml`, `modifyOrder`).
      operationId: modifyOrder
      tags:
        - Order Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyOrderRequest'
      responses:
        '200':
          description: Order modification response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /cancelOrder:
    post:
      summary: Cancel order
      description: |
        Cancel an existing order. Supports spot, perp, and protective stop orders. `accountId`,
        `nonce`, and `deadline` are required and bound into the EIP-712 signature.

        For a `STOP_LOSS` / `TAKE_PROFIT`, cancellation is bound to the **arming signer**: the wallet
        that signs this cancel must be the exact wallet that armed the trigger, so a different signer
        holding trade permission on the same account cannot cancel it and is rejected with
        `UNAUTHORIZED_ACCOUNT_ERROR`. The same binding applies to `modifyOrder` on an armed trigger.

        Also available on the order-entry WebSocket (`asyncapi-exec-v2.yaml`, `cancelOrder`).
      operationId: cancelOrder
      tags:
        - Order Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderRequest'
      responses:
        '200':
          description: Order cancellation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /cancelAll:
    post:
      summary: Cancel all orders
      description: Cancel all orders matching the specified filters (mass cancel). Supports both spot and perp markets. Also available on the order-entry WebSocket (`asyncapi-exec-v2.yaml`, `cancelAll`).
      operationId: cancelAll
      tags:
        - Order Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MassCancelRequest'
      responses:
        '200':
          description: Mass cancel response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassCancelResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /cancelAllAfter:
    post:
      summary: Set cancel-all-after countdown
      description: |
        Arm, refresh, or disarm an account-scoped dead-man's-switch countdown. While armed, all open
        orders for `accountId` — the same scope as `POST /v2/cancelAll` with no `symbol` filter, EXCEPT
        protective stops (`STOP_LOSS` / `TAKE_PROFIT`), which are deliberately left in place whether
        still armed or already fired into a resting child — are
        mass-cancelled if the countdown is not refreshed with another call before `timeoutMs` elapses.
        `timeoutMs: 0` disarms; non-zero values must be within [5000, 60000] milliseconds. Refresh is
        explicit only — order entry, WebSocket ping/pong, and connection close neither refresh nor
        trigger the countdown. `accountId`, `timeoutMs`, `nonce`, and `deadline` are bound into the
        EIP-712 `CancelAllAfter` signature; `deadline` is the signature-validity window (Unix seconds),
        not the countdown trigger time. The response returns an advisory trigger timestamp (`triggerAt`,
        milliseconds; omitted when disarming). Also available on the order-entry
        WebSocket (`asyncapi-exec-v2.yaml`, `cancelAllAfter`).
      operationId: cancelAllAfter
      tags:
        - Order Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelAllAfterRequest'
      responses:
        '200':
          description: Cancel-all-after response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelAllAfterResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  parameters:
    SymbolParam:
      name: symbol
      in: path
      required: true
      description: Trading symbol (e.g., BTCRUSDPERP)
      schema:
        $ref: './trading-schemas.json#/definitions/Symbol'
        example: BTCRUSDPERP

    AddressParam:
      name: address
      in: path
      required: true
      schema:
        $ref: './trading-schemas.json#/definitions/Address'
        example: '0x6c51275fd01d5dbd2da194e92f920f8598306df2'

    StartTimeParam:
      name: startTime
      in: query
      required: false
      description: >-
        Return results at or after this time (inclusive lower bound). Millisecond
        POSIX timestamp, matched against the endpoint's record timestamp. Execution
        and bust endpoints use on-chain block timestamps; orderHistory uses the order
        event timestamp exposed as `lastUpdateAt`.
      schema:
        $ref: './trading-schemas.json#/definitions/UnsignedInteger'
        example: 1756733379000

    EndTimeParam:
      name: endTime
      in: query
      required: false
      description: >-
        Return results at or before this time (inclusive upper bound). Millisecond
        POSIX timestamp, matched against the endpoint's record timestamp. Execution
        and bust endpoints use on-chain block timestamps; orderHistory uses the order
        event timestamp exposed as `lastUpdateAt`. Results are returned newest-first
        and capped at a maximum that varies by endpoint. Because this bound is
        inclusive, passing the oldest timestamp from the previous page can repeat
        boundary rows; clients can deduplicate overlap or subtract 1ms when same-ms
        boundary ties are not relevant.
      schema:
        $ref: './trading-schemas.json#/definitions/UnsignedInteger'
        example: 1756733679000

    ExecutionTypeParam:
      name: type
      in: query
      required: false
      description: Filter perp executions by their exact response type. Omit to return executions of all types.
      schema:
        type: string
        enum:
          - ORDER_MATCH
          - LIQUIDATION
          - ADL
          - MARKET_CLOSE
        example: LIQUIDATION

    DepthLimitParam:
      name: limit
      in: query
      required: false
      description: >-
        Optional cap on the number of aggregated price levels returned per side.
        The default is 100 and the maximum is 1,000. When set to N within the
        declared range, the response contains the top N levels on each side —
        the N best (highest) bids and the N best (lowest) asks. Values above the
        maximum are clamped to 1,000; other out-of-contract values are not
        rejected and instead fall back to the default of 100.
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 100
        example: 10

    ResolutionParam:
      name: resolution
      in: path
      required: true
      description: Candle resolution
      schema:
        type: string
        enum: ['1m', '5m', '15m', '30m', '1h', '4h', '1d']
        example: '1m'

  schemas:
    RequestError:
      $ref: './trading-schemas.json#/definitions/RequestError'

    ServerError:
      $ref: './trading-schemas.json#/definitions/ServerError'

    MarketDefinition:
      $ref: './trading-schemas.json#/definitions/MarketDefinition'

    SpotMarketDefinition:
      $ref: './trading-schemas.json#/definitions/SpotMarketDefinition'

    AssetDefinition:
      $ref: './trading-schemas.json#/definitions/AssetDefinition'

    FeeTierParameters:
      $ref: './trading-schemas.json#/definitions/FeeTierParameters'

    GlobalFeeParameters:
      $ref: './trading-schemas.json#/definitions/GlobalFeeParameters'

    WalletConfiguration:
      $ref: './trading-schemas.json#/definitions/WalletConfiguration'

    MarketSummary:
      $ref: './trading-schemas.json#/definitions/MarketSummary'

    SpotMarketSummary:
      $ref: './trading-schemas.json#/definitions/SpotMarketSummary'

    Position:
      $ref: './trading-schemas.json#/definitions/Position'

    Order:
      $ref: './trading-schemas.json#/definitions/Order'

    OrderHistoryList:
      $ref: './trading-schemas.json#/definitions/OrderHistoryList'

    Account:
      $ref: './trading-schemas.json#/definitions/Account'

    AccountBalance:
      $ref: './trading-schemas.json#/definitions/AccountBalance'

    PerpExecutionList:
      $ref: './trading-schemas.json#/definitions/PerpExecutionList'

    SpotExecutionList:
      $ref: './trading-schemas.json#/definitions/SpotExecutionList'

    ExecutionBust:
      $ref: './trading-schemas.json#/definitions/ExecutionBust'

    ExecutionBustList:
      $ref: './trading-schemas.json#/definitions/ExecutionBustList'

    AssetOraclePrice:
      $ref: './trading-schemas.json#/definitions/AssetOraclePrice'

    CandleHistoryData:
      $ref: './trading-schemas.json#/definitions/CandleHistoryData'

    CreateOrderRequest:
      $ref: './trading-schemas.json#/definitions/CreateOrderRequest'

    CreateOrderResponse:
      $ref: './trading-schemas.json#/definitions/CreateOrderResponse'

    ModifyOrderRequest:
      $ref: './trading-schemas.json#/definitions/ModifyOrderRequest'

    ModifyOrderResponse:
      $ref: './trading-schemas.json#/definitions/ModifyOrderResponse'

    CancelOrderRequest:
      $ref: './trading-schemas.json#/definitions/CancelOrderRequest'

    CancelOrderResponse:
      $ref: './trading-schemas.json#/definitions/CancelOrderResponse'

    MassCancelRequest:
      $ref: './trading-schemas.json#/definitions/MassCancelRequest'

    MassCancelResponse:
      $ref: './trading-schemas.json#/definitions/MassCancelResponse'

    CancelAllAfterRequest:
      $ref: './trading-schemas.json#/definitions/CancelAllAfterRequest'

    CancelAllAfterResponse:
      $ref: './trading-schemas.json#/definitions/CancelAllAfterResponse'

    Depth:
      $ref: './trading-schemas.json#/definitions/Depth'

    DepthType:
      $ref: './trading-schemas.json#/definitions/DepthType'

    DepthSnapshot:
      $ref: './trading-schemas.json#/definitions/DepthSnapshot'

  responses:
    BadRequest:
      description: |
        The request was refused. Every venue rejection on an order-entry request uses HTTP 400
        with a `RequestError` body. Branch on its `error` code to decide how to recover.
        REST and the order-entry WebSocket use the same error codes and optional `retryAfterMs`.

        - `RATE_LIMITED_ERROR`: wait at least `retryAfterMs` before retrying.
        - `CAPACITY_LIMITED_ERROR`: retry with backoff and jitter; no retry hint is provided.
        - `OPEN_ORDER_COUNT_EXCEEDED_ERROR`, `OPEN_ORDER_NOTIONAL_EXCEEDED_ERROR`: change the
          order or reduce existing resting orders before retrying; waiting alone is insufficient.
        - `CROSSING_ORDERS_TEMPORARILY_UNAVAILABLE_ERROR`, `UNAVAILABLE_MATCHING_ENGINE_ERROR`,
          `UNAVAILABLE_ACCOUNT_OWNER_ERROR`: retry the unchanged request after a short delay.
        - `NOT_WHITELISTED_ERROR`, `ACCOUNT_SUSPENDED_ERROR`: permission errors; do not
          automatically retry. Contact support if an expected operation is refused.
        - Validation and pre-trade risk failures require correcting the request or addressing
          the account or market conditions. See `RequestErrorCode` for individual remedies.

        Infrastructure-level per-IP limits can return HTTP 429 separately from these venue
        errors. Such responses need not use the `RequestError` JSON format.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RequestError'
          example:
            error: INPUT_VALIDATION_ERROR
            message: Invalid request parameters

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ServerError'
          example:
            error: INTERNAL_SERVER_ERROR
            message: An unexpected error occurred

tags:
  - name: Specs
    description: OpenAPI and AsyncAPI specs
  - name: Reference Data
    description: Market definitions, fee parameters, asset configuration, etc.
  - name: Market Data
    description: Prices, market-level trades, depth, candles, etc.
  - name: Wallet Data
    description: Accounts, positions, trades, etc.
  - name: Order Entry
    description: |
      Place, modify, and cancel orders, or manage an account's cancel-all-after countdown.
      Reya verifies signatures, signer permissions, order validity, and applicable pre-trade
      risk checks before accepting requests.

      **Rate limits.** Account budgets are shared across markets, signers, REST, and WebSocket
      requests. Create and modify share a placement budget; single cancels, bulk cancels, and
      cancel-all-after control have separate budgets. Resting orders also have count and
      notional limits. See `RequestErrorCode` for errors and recovery guidance.

      **Every venue verdict is HTTP 400.** Rejections carry the reason in the body's `error`
      code and an optional `retryAfterMs`. Branch on the code to decide how to recover. HTTP 429 is
      reserved for infrastructure-level (per-IP) limits in front of the API and need not use
      the venue's JSON error format.
