openapi: 3.0.3
info:
  title: Reya DEX Trading API v2
  version: 3.0.7
  contact:
    name: Reya Network
    url: https://reya.xyz
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.reya.xyz/v2
    description: Production server
  - url: https://api-test.reya.xyz/v2
    description: Testnet server

paths:
  /openapi-spec.yaml:
    get:
      summary: Get OpenAPI specification
      description: Returns the complete OpenAPI specification for this API in YAML format
      operationId: getOpenApiSpec
      tags:
        - Specs
      responses:
        '200':
          description: OpenAPI specification in YAML format
          content:
            application/yaml:
              schema:
                type: string
                format: binary
        '500':
          $ref: '#/components/responses/InternalServerError'

  /asyncapi-spec.yaml:
    get:
      summary: Get AsyncAPI specification
      description: Returns the complete AsyncAPI specification for WebSocket API in YAML format
      operationId: getAsyncApiSpec
      tags:
        - Specs
      responses:
        '200':
          description: AsyncAPI specification in YAML format
          content:
            application/yaml:
              schema:
                type: string
                format: binary
        '500':
          $ref: '#/components/responses/InternalServerError'

  /perpMarketDefinitions:
    get:
      summary: Get perp market definitions
      description: Canonical perp market definitions endpoint for perpOB. Replaces the removed AMM-era `/marketDefinitions` route.
      operationId: getPerpMarketDefinitions
      tags:
        - Reference Data
      responses:
        '200':
          description: List of perp market definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarketDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /spotMarketDefinitions:
    get:
      summary: Get spot market definitions
      operationId: getSpotMarketDefinitions
      tags:
        - Reference Data
      responses:
        '200':
          description: List of spot market definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpotMarketDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /spotMarkets/summary:
    get:
      summary: Get spot market summaries
      description: Statistics and throttled market data for all spot markets. Recalculated every 0.5s
      operationId: getSpotMarketsSummary
      tags:
        - Market Data
      responses:
        '200':
          description: List of spot market summaries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpotMarketSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /spotMarket/{symbol}/summary:
    get:
      summary: Get spot market summary
      description: Statistics and throttled market data for a specific spot market. Recalculated every 0.5s
      operationId: getSpotMarketSummary
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
      responses:
        '200':
          description: Spot market summary data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotMarketSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /assetDefinitions:
    get:
      summary: Get asset definitions
      operationId: getAssetDefinitions
      tags:
        - Reference Data
      responses:
        '200':
          description: List of asset definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssetDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /globalFeeParameters:
    get:
      summary: Get global fee parameters
      operationId: getGlobalFeeParameters
      tags:
        - Reference Data
      responses:
        '200':
          description: Global fee parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalFeeParameters'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /feeTiers:
    get:
      summary: Get fee tiers
      operationId: getFeeTierParameters
      tags:
        - Reference Data
      responses:
        '200':
          description: List of fee tier parameters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeeTierParameters'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /markets/summary:
    get:
      summary: Get market summaries
      description: 'Deprecated: use `/perpMarkets/summary` instead. Statistics and throttled market data for all markets. Recalculated every 0.5s. This un-prefixed route still works but will be removed once integrators have migrated to the `perp*` naming.'
      operationId: getMarketsSummary
      deprecated: true
      tags:
        - Market Data
      responses:
        '200':
          description: List of market summaries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarketSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /perpMarkets/summary:
    get:
      summary: Get perp market summaries
      description: Alias of `/markets/summary`, mirroring the `/spotMarkets/summary` naming. Statistics and throttled market data for all perp markets. Recalculated every 0.5s
      operationId: getPerpMarketsSummary
      tags:
        - Market Data
      responses:
        '200':
          description: List of perp market summaries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarketSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /market/{symbol}/summary:
    get:
      summary: Get market summary
      description: 'Deprecated: use `/perpMarket/{symbol}/summary` instead. Statistics and throttled data for a specific market. Recalculated every 0.5s. This un-prefixed route still works but will be removed once integrators have migrated to the `perp*` naming.'
      operationId: getMarketSummary
      deprecated: true
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
      responses:
        '200':
          description: Market summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /perpMarket/{symbol}/summary:
    get:
      summary: Get perp market summary
      description: Alias of `/market/{symbol}/summary`, mirroring the `/spotMarket/{symbol}/summary` naming. Statistics and throttled data for a specific perp market. Recalculated every 0.5s
      operationId: getPerpMarketSummary
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
      responses:
        '200':
          description: Market summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /prices:
    get:
      summary: Get all prices
      description: 'Deprecated: this AMM-era mixed market/collateral price endpoint includes legacy `poolPrice` semantics and will be removed. Use `GET /assetOraclePrices` for asset Stork oracle prices. Use market summary/depth endpoints for market prices.'
      operationId: getPrices
      deprecated: true
      tags:
        - Market Data
      responses:
        '200':
          description: List of prices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Price'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /prices/{symbol}:
    get:
      summary: Get price by symbol
      description: 'Deprecated: this AMM-era mixed market/collateral price endpoint includes legacy `poolPrice` semantics and will be removed. Use `GET /assetOraclePrices` for asset Stork oracle prices. Use market summary/depth endpoints for market prices.'
      operationId: getPrice
      deprecated: true
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
      responses:
        '200':
          description: Price information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Price'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /assetOraclePrices:
    get:
      summary: Get asset oracle prices
      description: Asset Stork oracle prices. This is the replacement for asset-oracle consumers of the deprecated `/prices` endpoint and deliberately omits the AMM-era `poolPrice` field.
      operationId: getAssetOraclePrices
      tags:
        - Market Data
      responses:
        '200':
          description: List of asset oracle prices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssetOraclePrice'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /market/{symbol}/perpExecutions:
    get:
      summary: Get perp executions for market
      description: Returns up to 100 perp executions for a given market.
      operationId: getMarketPerpExecutions
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
        - $ref: '#/components/parameters/ExecutionTypeParam'
      responses:
        '200':
          description: List of perp executions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerpExecutionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /market/{symbol}/depth:
    get:
      summary: Get market depth snapshot
      description: |
        Returns an L2 order book snapshot with aggregated price levels for the specified market.
        Supports both spot and perp markets.
      operationId: getMarketDepth
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
      responses:
        '200':
          description: Depth snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Depth'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /market/{symbol}/spotExecutions:
    get:
      summary: Get spot executions for market
      description: Returns up to 100 spot executions for a given market.
      operationId: getMarketSpotExecutions
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: List of spot executions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotExecutionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /market/{symbol}/executionBusts:
    get:
      summary: Get execution busts for market
      description: |
        Returns up to 100 execution busts (failed fills) for a given market, covering both spot and perp markets.
        Clients can distinguish spot vs perp entries from the `symbol` suffix (`*RUSDPERP` for perp, `*RUSD` for spot).
      operationId: getMarketExecutionBusts
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: List of execution busts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionBustList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /candleHistory/{symbol}/{resolution}:
    get:
      summary: Get historical candles
      description: Returns up to 200 candles for a given market, sorted by time in descending order, and ending at the specified end time.
      operationId: getCandles
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
        - $ref: '#/components/parameters/ResolutionParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: Historical candle data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandleHistoryData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/accounts:
    get:
      summary: Get wallet accounts
      operationId: getWalletAccounts
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
      responses:
        '200':
          description: List of accounts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/executionBusts:
    get:
      summary: Get wallet execution busts
      description: Returns up to 100 execution busts (failed fills) for a given wallet, covering both spot and perp markets.
      operationId: getWalletExecutionBusts
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: List of execution busts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionBustList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/perpExecutions:
    get:
      summary: Get wallet perp executions
      description: Returns up to 100 perp executions for a given wallet.
      operationId: getWalletPerpExecutions
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
        - $ref: '#/components/parameters/ExecutionTypeParam'
      responses:
        '200':
          description: List of perpetual executions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerpExecutionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/spotExecutions:
    get:
      summary: Get wallet spot executions
      description: Returns up to 100 spot executions for a given wallet.
      operationId: getWalletSpotExecutions
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: List of spot executions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotExecutionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/positions:
    get:
      summary: Get wallet positions
      operationId: getWalletPositions
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
      responses:
        '200':
          description: List of positions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Position'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/accountBalances:
    get:
      summary: Get wallet account balances
      description: Returns all account real balances for a wallet.
      operationId: getWalletAccountBalances
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
      responses:
        '200':
          description: List of account balances
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountBalance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/openOrders:
    get:
      summary: Get wallet open orders
      description: Returns all pending orders for a wallet.
      operationId: getWalletOpenOrders
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
      responses:
        '200':
          description: List of open orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/configuration:
    get:
      summary: Get wallet configuration
      description: Returns trading configuration for a wallet
      operationId: getWalletConfiguration
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
      responses:
        '200':
          description: Wallet configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletConfiguration'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /createOrder:
    post:
      summary: Create order
      description: |
        Create a new order (IOC, GTC, GTT, SL, TP). Supports both spot and perp markets.

        All order types route through the matching engine on a unified `marketId` namespace;
        the legacy off-chain conditional-order (DB-backed) path is retired. `STOP_LOSS` /
        `TAKE_PROFIT` carry `orderType` + `triggerPx` end-to-end and are accepted today as
        forward-compatible facade orders — the ME stores the trigger fields and rests them as
        GTC limits. **Availability:** native trigger behaviour (an ME-resident trigger queue
        that fires on `triggerPx`) is not yet live; it depends on the ME trigger-queue landing.
        Until then a `STOP_LOSS` / `TAKE_PROFIT` create is accepted but does not yet trigger
        on its `triggerPx`.

        Also available on the order-entry WebSocket (`asyncapi-exec-v2.yaml`, `createOrder`).
      operationId: createOrder
      tags:
        - Order Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '200':
          description: Order creation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /modifyOrder:
    post:
      summary: Modify order
      description: |
        Modify a resting order in place. The order keeps its `orderId` and `clientOrderId`.
        Target exactly one of `orderId` / `clientOrderId`. **Full restate:** the body carries the same
        fields as `createOrder` (the complete post-modify `OrderDetails`) plus the target id — restate
        every value, even unchanged ones; there is no omitted-means-inherited shorthand. The five
        modifiable fields are `limitPx`, `qty`, `postOnly`, `expiresAfter`, `triggerPx` (a
        `STOP_LOSS`/`TAKE_PROFIT` trigger can be re-priced in place); the rest (`exchangeId`,
        `isBuy`, `orderType`, `timeInForce`, `reduceOnly`, `clientOrderId`, `accountId`,
        `signerWallet`) are immutable and must be restated at the resting order's values — a mismatch
        is rejected with `INPUT_VALIDATION_ERROR` (the ME's internal `MODIFY_IMMUTABLE_MISMATCH` is
        surfaced as `INPUT_VALIDATION_ERROR`). **Availability:** editing a `STOP_LOSS`/`TAKE_PROFIT`
        order depends on native SL/TP trigger orders landing in the matching engine; until then modify
        accepts only `LIMIT` orders and a `STOP_LOSS`/`TAKE_PROFIT` modify is rejected with
        `MODIFY_ORDER_OTHER_ERROR`. A request whose post-modify state equals the
        order's current state is rejected with `EMPTY_MODIFY_ERROR`. Queue priority: a `qty` decrease
        at an unchanged `limitPx` preserves the order's place in the book; any `limitPx` change or
        `qty` increase loses it. `timeInForce` is immutable (no GTC↔GTT). A post-only modification that
        would cross is rejected with no mutation; a non-post-only modification that crosses executes —
        the response reports `execQty` and `status`, with per-fill detail on the streaming surface, as
        with `createOrder`. The fresh EIP-712 signature (same `Order` / `OrderDetails` envelope as
        `createOrder`) is verified over exactly the restated fields; a fresh `nonce` is required.
        Also available on the order-entry WebSocket (`asyncapi-exec-v2.yaml`, `modifyOrder`).
      operationId: modifyOrder
      tags:
        - Order Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyOrderRequest'
      responses:
        '200':
          description: Order modification response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /cancelOrder:
    post:
      summary: Cancel order
      description: |
        Cancel an existing order. Supports both spot and perp markets. All single cancels — spot and perp,
        including TP/SL — route through the matching engine on a unified `marketId` namespace. `accountId`,
        `nonce`, and `deadline` are required and bound into the EIP-712 signature. Also available on the
        order-entry WebSocket (`asyncapi-exec-v2.yaml`, `cancelOrder`).
      operationId: cancelOrder
      tags:
        - Order Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderRequest'
      responses:
        '200':
          description: Order cancellation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /cancelAll:
    post:
      summary: Cancel all orders
      description: Cancel all orders matching the specified filters (mass cancel). Supports both spot and perp markets. Also available on the order-entry WebSocket (`asyncapi-exec-v2.yaml`, `cancelAll`).
      operationId: cancelAll
      tags:
        - Order Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MassCancelRequest'
      responses:
        '200':
          description: Mass cancel response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassCancelResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /cancelAllAfter:
    post:
      summary: Set cancel-all-after countdown
      description: |
        Arm, refresh, or disarm an account-scoped dead-man's-switch countdown. While armed, all open
        orders for `accountId` — the same scope as `POST /v2/cancelAll` with no `symbol` filter, EXCEPT
        protective stops (`STOP_LOSS` / `TAKE_PROFIT`), which are deliberately left in place — are
        mass-cancelled if the countdown is not refreshed with another call before `timeoutMs` elapses.
        `timeoutMs: 0` disarms; non-zero values must be within [5000, 60000] milliseconds. Refresh is
        explicit only — order entry, WebSocket ping/pong, and connection close neither refresh nor
        trigger the countdown. `accountId`, `timeoutMs`, `nonce`, and `deadline` are bound into the
        EIP-712 `CancelAllAfter` signature; `deadline` is the signature-validity window (Unix seconds),
        not the countdown trigger time. The response returns an advisory trigger timestamp (`triggerAt`,
        milliseconds; omitted when disarming). Also available on the order-entry WebSocket
        (`asyncapi-exec-v2.yaml`, `cancelAllAfter`).
      operationId: cancelAllAfter
      tags:
        - Order Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelAllAfterRequest'
      responses:
        '200':
          description: Cancel-all-after response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelAllAfterResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  parameters:
    SymbolParam:
      name: symbol
      in: path
      required: true
      description: Trading symbol (e.g., BTCRUSDPERP)
      schema:
        $ref: './trading-schemas.json#/definitions/Symbol'
        example: BTCRUSDPERP

    AddressParam:
      name: address
      in: path
      required: true
      schema:
        $ref: './trading-schemas.json#/definitions/Address'
        example: '0x6c51275fd01d5dbd2da194e92f920f8598306df2'

    StartTimeParam:
      name: startTime
      in: query
      required: false
      description: >-
        Return results at or after this time (inclusive lower bound).
        Millisecond POSIX timestamp, matched against each execution's on-chain
        block timestamp.
      schema:
        $ref: './trading-schemas.json#/definitions/UnsignedInteger'
        example: 1756733379000

    EndTimeParam:
      name: endTime
      in: query
      required: false
      description: >-
        Return results at or before this time (inclusive upper bound).
        Millisecond POSIX timestamp, matched against each execution's on-chain
        block timestamp. Results are returned newest-first and capped at a
        maximum that varies by endpoint; to page backward through history,
        pass the oldest timestamp from the previous page.
      schema:
        $ref: './trading-schemas.json#/definitions/UnsignedInteger'
        example: 1756733679000

    ExecutionTypeParam:
      name: type
      in: query
      required: false
      description: Filter perp executions by type. Omit to return executions of all types.
      schema:
        type: string
        enum:
          - ORDER_MATCH
          - LIQUIDATION
        example: LIQUIDATION

    ResolutionParam:
      name: resolution
      in: path
      required: true
      description: Candle resolution
      schema:
        type: string
        enum: ['1m', '5m', '15m', '30m', '1h', '4h', '1d']
        example: '1m'

  schemas:
    RequestError:
      $ref: './trading-schemas.json#/definitions/RequestError'

    ServerError:
      $ref: './trading-schemas.json#/definitions/ServerError'

    MarketDefinition:
      $ref: './trading-schemas.json#/definitions/MarketDefinition'

    SpotMarketDefinition:
      $ref: './trading-schemas.json#/definitions/SpotMarketDefinition'

    AssetDefinition:
      $ref: './trading-schemas.json#/definitions/AssetDefinition'

    FeeTierParameters:
      $ref: './trading-schemas.json#/definitions/FeeTierParameters'

    GlobalFeeParameters:
      $ref: './trading-schemas.json#/definitions/GlobalFeeParameters'

    WalletConfiguration:
      $ref: './trading-schemas.json#/definitions/WalletConfiguration'

    MarketSummary:
      $ref: './trading-schemas.json#/definitions/MarketSummary'

    SpotMarketSummary:
      $ref: './trading-schemas.json#/definitions/SpotMarketSummary'

    Position:
      $ref: './trading-schemas.json#/definitions/Position'

    Order:
      $ref: './trading-schemas.json#/definitions/Order'

    Account:
      $ref: './trading-schemas.json#/definitions/Account'

    AccountBalance:
      $ref: './trading-schemas.json#/definitions/AccountBalance'

    PerpExecutionList:
      $ref: './trading-schemas.json#/definitions/PerpExecutionList'

    SpotExecutionList:
      $ref: './trading-schemas.json#/definitions/SpotExecutionList'

    ExecutionBust:
      $ref: './trading-schemas.json#/definitions/ExecutionBust'

    ExecutionBustList:
      $ref: './trading-schemas.json#/definitions/ExecutionBustList'

    Price:
      $ref: './trading-schemas.json#/definitions/Price'

    AssetOraclePrice:
      $ref: './trading-schemas.json#/definitions/AssetOraclePrice'

    CandleHistoryData:
      $ref: './trading-schemas.json#/definitions/CandleHistoryData'

    CreateOrderRequest:
      $ref: './trading-schemas.json#/definitions/CreateOrderRequest'

    CreateOrderResponse:
      $ref: './trading-schemas.json#/definitions/CreateOrderResponse'

    ModifyOrderRequest:
      $ref: './trading-schemas.json#/definitions/ModifyOrderRequest'

    ModifyOrderResponse:
      $ref: './trading-schemas.json#/definitions/ModifyOrderResponse'

    CancelOrderRequest:
      $ref: './trading-schemas.json#/definitions/CancelOrderRequest'

    CancelOrderResponse:
      $ref: './trading-schemas.json#/definitions/CancelOrderResponse'

    MassCancelRequest:
      $ref: './trading-schemas.json#/definitions/MassCancelRequest'

    MassCancelResponse:
      $ref: './trading-schemas.json#/definitions/MassCancelResponse'

    CancelAllAfterRequest:
      $ref: './trading-schemas.json#/definitions/CancelAllAfterRequest'

    CancelAllAfterResponse:
      $ref: './trading-schemas.json#/definitions/CancelAllAfterResponse'

    Depth:
      $ref: './trading-schemas.json#/definitions/Depth'

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RequestError'
          example:
            error: INPUT_VALIDATION_ERROR
            message: Invalid request parameters

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ServerError'
          example:
            error: INTERNAL_SERVER_ERROR
            message: An unexpected error occurred

tags:
  - name: Specs
    description: OpenAPI and AsyncAPI specs
  - name: Reference Data
    description: Market definitions, global parameters, liquidity parameters, etc.
  - name: Market Data
    description: Prices, market-level trades, depth, candles, etc.
  - name: Wallet Data
    description: Accounts, positions, trades, etc.
  - name: Order Entry
    description: Order entry operations
