openapi: 3.0.3
info:
  title: Reya DEX Trading API v2
  version: 3.0.24
  contact:
    name: Reya Network
    url: https://reya.xyz
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.reya.xyz/v2
    description: Production server
  - url: https://api-devnet.reya-cronos.network/v2
    description: Devnet server for Perp OB integration
  - url: https://api-test.reya.xyz/v2
    description: Testnet server

paths:
  /openapi-spec.yaml:
    get:
      summary: Get OpenAPI specification
      description: Returns the complete OpenAPI specification for this API in YAML format
      operationId: getOpenApiSpec
      tags:
        - Specs
      responses:
        '200':
          description: OpenAPI specification in YAML format
          content:
            application/yaml:
              schema:
                type: string
                format: binary
        '500':
          $ref: '#/components/responses/InternalServerError'

  /asyncapi-spec.yaml:
    get:
      summary: Get AsyncAPI specification
      description: Returns the complete AsyncAPI specification for WebSocket API in YAML format
      operationId: getAsyncApiSpec
      tags:
        - Specs
      responses:
        '200':
          description: AsyncAPI specification in YAML format
          content:
            application/yaml:
              schema:
                type: string
                format: binary
        '500':
          $ref: '#/components/responses/InternalServerError'

  /asyncapi-exec-spec.yaml:
    get:
      summary: Get order-entry AsyncAPI specification
      description: Returns the complete AsyncAPI specification for the order-entry WebSocket API in YAML format
      operationId: getAsyncExecApiSpec
      tags:
        - Specs
      responses:
        '200':
          description: Order-entry AsyncAPI specification in YAML format
          content:
            application/yaml:
              schema:
                type: string
                format: binary
        '500':
          $ref: '#/components/responses/InternalServerError'

  /perpMarketDefinitions:
    get:
      summary: Get perp market definitions
      description: Canonical perp market definitions endpoint for perpOB. Replaces the removed AMM-era `/marketDefinitions` route.
      operationId: getPerpMarketDefinitions
      tags:
        - Reference Data
      responses:
        '200':
          description: List of perp market definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarketDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /spotMarketDefinitions:
    get:
      summary: Get spot market definitions
      operationId: getSpotMarketDefinitions
      tags:
        - Reference Data
      responses:
        '200':
          description: List of spot market definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpotMarketDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /spotMarkets/summary:
    get:
      summary: Get spot market summaries
      description: Statistics and throttled market data for all spot markets. Recalculated every 0.5s
      operationId: getSpotMarketsSummary
      tags:
        - Market Data
      responses:
        '200':
          description: List of spot market summaries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpotMarketSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /spotMarket/{symbol}/summary:
    get:
      summary: Get spot market summary
      description: Statistics and throttled market data for a specific spot market. Recalculated every 0.5s
      operationId: getSpotMarketSummary
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
      responses:
        '200':
          description: Spot market summary data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotMarketSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /assetDefinitions:
    get:
      summary: Get asset definitions
      operationId: getAssetDefinitions
      tags:
        - Reference Data
      responses:
        '200':
          description: List of asset definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssetDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /globalFeeParameters:
    get:
      summary: Get global fee parameters
      operationId: getGlobalFeeParameters
      tags:
        - Reference Data
      responses:
        '200':
          description: Global fee parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalFeeParameters'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /feeTiers:
    get:
      summary: Get fee tiers
      operationId: getFeeTierParameters
      tags:
        - Reference Data
      responses:
        '200':
          description: List of fee tier parameters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeeTierParameters'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /perpMarkets/summary:
    get:
      summary: Get perp market summaries
      description: Perp market summary route mirroring the `/spotMarkets/summary` naming. Statistics and throttled market data for all perp markets. Recalculated every 0.5s
      operationId: getPerpMarketsSummary
      tags:
        - Market Data
      responses:
        '200':
          description: List of perp market summaries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarketSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /perpMarket/{symbol}/summary:
    get:
      summary: Get perp market summary
      description: Perp market summary route mirroring the `/spotMarket/{symbol}/summary` naming. Statistics and throttled data for a specific perp market. Recalculated every 0.5s
      operationId: getPerpMarketSummary
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
      responses:
        '200':
          description: Market summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /assetOraclePrices:
    get:
      summary: Get asset oracle prices
      description: Asset Stork oracle prices. This feed deliberately omits the AMM-era `poolPrice` field.
      operationId: getAssetOraclePrices
      tags:
        - Market Data
      responses:
        '200':
          description: List of asset oracle prices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssetOraclePrice'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /market/{symbol}/perpExecutions:
    get:
      summary: Get perp executions for market
      description: Returns up to 100 perp executions for a given market.
      operationId: getMarketPerpExecutions
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
        - $ref: '#/components/parameters/ExecutionTypeParam'
      responses:
        '200':
          description: List of perp executions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerpExecutionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /market/{symbol}/depth:
    get:
      summary: Get market depth snapshot
      description: |
        Returns an L2 order book snapshot with aggregated price levels for the specified market.
        Supports both spot and perp markets.

        By default the full book is returned. Pass the optional `limit` query parameter to cap the
        response to the top-N aggregated price levels per side — the `limit` best (highest) bids and
        the `limit` best (lowest) asks. Omitting `limit` preserves the full-book response (the
        existing contract is unchanged).
      operationId: getMarketDepth
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
        - $ref: '#/components/parameters/DepthLimitParam'
      responses:
        '200':
          description: Depth snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Depth'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /market/{symbol}/spotExecutions:
    get:
      summary: Get spot executions for market
      description: Returns up to 100 spot executions for a given market.
      operationId: getMarketSpotExecutions
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: List of spot executions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotExecutionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /market/{symbol}/executionBusts:
    get:
      summary: Get execution busts for market
      description: |
        Returns up to 100 execution busts (failed fills) for a given market, covering both spot and perp markets.
        Clients can distinguish spot vs perp entries from the `symbol` suffix (`*RUSDPERP` for perp, `*RUSD` for spot).
      operationId: getMarketExecutionBusts
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: List of execution busts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionBustList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /candleHistory/{symbol}/{resolution}:
    get:
      summary: Get historical candles
      description: Returns up to 200 candles for a given market, sorted by time in descending order, and ending at the specified end time.
      operationId: getCandles
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/SymbolParam'
        - $ref: '#/components/parameters/ResolutionParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: Historical candle data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandleHistoryData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/accounts:
    get:
      summary: Get wallet accounts
      operationId: getWalletAccounts
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
      responses:
        '200':
          description: List of accounts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/executionBusts:
    get:
      summary: Get wallet execution busts
      description: Returns up to 100 execution busts (failed fills) for a given wallet, covering both spot and perp markets. Use the `symbol` suffix to distinguish spot from perp busts.
      operationId: getWalletExecutionBusts
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: List of execution busts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionBustList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/perpExecutions:
    get:
      summary: Get wallet perp executions
      description: Returns up to 100 perp executions for a given wallet.
      operationId: getWalletPerpExecutions
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
        - $ref: '#/components/parameters/ExecutionTypeParam'
      responses:
        '200':
          description: List of perpetual executions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerpExecutionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/spotExecutions:
    get:
      summary: Get wallet spot executions
      description: Returns up to 100 spot executions for a given wallet.
      operationId: getWalletSpotExecutions
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: List of spot executions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotExecutionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/orderHistory:
    get:
      summary: Get wallet order history
      description: |
        Returns up to 100 historical matching-engine order state updates for a
        wallet, newest first. Each row is one public `Order` projection emitted
        by the matching engine for one of the wallet's accounts, covering both
        spot and perp markets once the matching-engine order-history writer is
        enabled for the environment.

        This endpoint is for retail/account-history views and support tooling.
        It is not intended for market-maker ingestion, audit logs, or
        high-throughput reconciliation. The backing service stores bounded
        history per account and can automatically exclude high-throughput
        accounts from persistence; market makers should capture their own
        durable order timeline from the `orderChanges` WebSocket stream.

        Pagination follows the same descending time-window convention as the
        wallet execution endpoints. `startTime` and `endTime` are millisecond
        POSIX timestamps matched against each row's matching-engine event time
        (`lastUpdateAt`). Results are returned newest-first; `meta.startTime`
        is the newest returned row timestamp and `meta.endTime` is the oldest
        returned row timestamp. Because `endTime` is an inclusive upper bound,
        clients that pass the previous `meta.endTime` may receive boundary
        rows again and should deduplicate overlap by `Order.sequenceNumber`.
        Clients that do not need to preserve same-millisecond boundary ties may
        page backward with `endTime = meta.endTime - 1`.
      operationId: getWalletOrderHistory
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: Paginated list of order state updates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderHistoryList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/positions:
    get:
      summary: Get wallet positions
      operationId: getWalletPositions
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
      responses:
        '200':
          description: List of positions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Position'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/accountBalances:
    get:
      summary: Get wallet account balances
      description: Returns all account real balances for a wallet.
      operationId: getWalletAccountBalances
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
      responses:
        '200':
          description: List of account balances
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountBalance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/openOrders:
    get:
      summary: Get wallet open orders
      description: Returns all pending orders for a wallet.
      operationId: getWalletOpenOrders
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
      responses:
        '200':
          description: List of open orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /wallet/{address}/configuration:
    get:
      summary: Get wallet configuration
      description: Returns trading configuration for a wallet
      operationId: getWalletConfiguration
      tags:
        - Wallet Data
      parameters:
        - $ref: '#/components/parameters/AddressParam'
      responses:
        '200':
          description: Wallet configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletConfiguration'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /createOrder:
    post:
      summary: Create order
      description: |
        Create a new order (IOC, GTC, GTT, SL, TP). Supports both spot and perp markets.

        All order types route through the matching engine on a unified `marketId` namespace;
        the legacy off-chain conditional-order (DB-backed) path is retired. A `STOP_LOSS` /
        `TAKE_PROFIT` create carries `orderType` + `triggerPx` end-to-end and is **armed and
        tracked** by the matching engine: the trigger is stored (never resting in the book as
        executable liquidity), remains modifiable and cancellable, and surfaces as `OPEN` on
        `openOrders`, the `walletOrderChanges` stream, and order history.
        **Availability:** an armed trigger does **not** yet fire on its `triggerPx`; trigger
        evaluation and the resulting child order arrive in a later release. Triggers are
        **perp-only** — a `STOP_LOSS` / `TAKE_PROFIT` on a spot market is rejected.

        Also available on the order-entry WebSocket (`asyncapi-exec-v2.yaml`, `createOrder`).
      operationId: createOrder
      tags:
        - Order Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '200':
          description: Order creation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /modifyOrder:
    post:
      summary: Modify order
      description: |
        Modify a resting order in place. The order keeps its `orderId` and `clientOrderId`.
        Target by `orderId` when present, otherwise by a non-zero `clientOrderId`.
        JSON Schema validates target presence only; the server enforces the non-zero rule for
        sole `clientOrderId` targets.
        The same `clientOrderId` field restates the resting order's immutable client id for signing.
        If both identifiers are supplied, `orderId` is canonical for lookup and `clientOrderId`
        is the restated immutable. If the resting order has no client id, omit `clientOrderId`;
        do not send a placeholder value.
        **Full restate:** the body carries the same fields as `createOrder` (the complete post-modify
        `OrderDetails`) plus the target id — restate every value, even unchanged ones; omitted fields
        never "inherit from the resting order".
        The modifiable fields are class-split: for a `LIMIT` modify they are `limitPx`, `qty`, `postOnly`,
        `expiresAfter` (and `triggerPx` is forbidden); for a `STOP_LOSS`/`TAKE_PROFIT` modify ONLY
        `limitPx` and `triggerPx` are modifiable — `qty` stays omitted (wire quantity 0; the signed
        quantity restates the full-position sentinel), and `postOnly=false`, `expiresAfter` omitted
        (never expires) and the GTC time-in-force are restated immutables (changing any returns
        `INPUT_VALIDATION_ERROR` from the ME's immutable-match). The rest (`exchangeId`,
        `isBuy`, `orderType`, `timeInForce`, `reduceOnly`, `clientOrderId`, `accountId`,
        `signerWallet`) are immutable and must be restated at the resting order's values — a mismatch
        is rejected with `INPUT_VALIDATION_ERROR` (the ME's internal `MODIFY_IMMUTABLE_MISMATCH` is
        surfaced as `INPUT_VALIDATION_ERROR`). A `STOP_LOSS`/`TAKE_PROFIT` order is re-priced in
        place (full restate): `triggerPx` is REQUIRED on a trigger modify — a trigger modify that
        omits it is rejected with `INPUT_VALIDATION_ERROR`. `qty` is omitted on a
        `STOP_LOSS`/`TAKE_PROFIT` modify (the signed quantity restates the full-position sentinel `±int256.max`, sign from `isBuy`) and required for a `LIMIT`
        modify. A request whose post-modify state equals the
        order's current state is rejected with `EMPTY_MODIFY_ERROR`. Queue priority: a `qty` decrease
        at an unchanged `limitPx` preserves the order's place in the book; any `limitPx` change or
        `qty` increase loses it. `timeInForce` is immutable (no GTC↔GTT), so `expiresAfter` is
        omitted for GTC and set to a future timestamp greater than `deadline` for GTT. A post-only modification that
        would cross is rejected with no mutation; a non-post-only modification that crosses executes —
        the response reports `execQty` and `status`, with per-fill detail on the streaming surface, as
        with `createOrder`. Omit `triggerPx` for a `LIMIT` order. The fresh EIP-712 signature (same
        `Order` / `OrderDetails` envelope as `createOrder`) is verified over exactly the restated
        fields; a fresh `nonce` is required.
        Also available on the order-entry WebSocket (`asyncapi-exec-v2.yaml`, `modifyOrder`).
      operationId: modifyOrder
      tags:
        - Order Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyOrderRequest'
      responses:
        '200':
          description: Order modification response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /cancelOrder:
    post:
      summary: Cancel order
      description: |
        Cancel an existing order. Supports both spot and perp markets. All single cancels — spot and perp,
        including TP/SL — route through the matching engine on a unified `marketId` namespace. `accountId`,
        `nonce`, and `deadline` are required and bound into the EIP-712 signature. Also available on the
        order-entry WebSocket (`asyncapi-exec-v2.yaml`, `cancelOrder`).
      operationId: cancelOrder
      tags:
        - Order Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderRequest'
      responses:
        '200':
          description: Order cancellation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /cancelAll:
    post:
      summary: Cancel all orders
      description: Cancel all orders matching the specified filters (mass cancel). Supports both spot and perp markets. Also available on the order-entry WebSocket (`asyncapi-exec-v2.yaml`, `cancelAll`).
      operationId: cancelAll
      tags:
        - Order Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MassCancelRequest'
      responses:
        '200':
          description: Mass cancel response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassCancelResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /cancelAllAfter:
    post:
      summary: Set cancel-all-after countdown
      description: |
        Arm, refresh, or disarm an account-scoped dead-man's-switch countdown. While armed, all open
        orders for `accountId` — the same scope as `POST /v2/cancelAll` with no `symbol` filter, EXCEPT
        protective stops (`STOP_LOSS` / `TAKE_PROFIT`), which are deliberately left in place
        (enforced by the matching engine's trigger store) — are
        mass-cancelled if the countdown is not refreshed with another call before `timeoutMs` elapses.
        `timeoutMs: 0` disarms; non-zero values must be within [5000, 60000] milliseconds. Refresh is
        explicit only — order entry, WebSocket ping/pong, and connection close neither refresh nor
        trigger the countdown. `accountId`, `timeoutMs`, `nonce`, and `deadline` are bound into the
        EIP-712 `CancelAllAfter` signature; `deadline` is the signature-validity window (Unix seconds),
        not the countdown trigger time. The response returns an advisory trigger timestamp (`triggerAt`,
        milliseconds; omitted when disarming). Also available on the order-entry WebSocket
        (`asyncapi-exec-v2.yaml`, `cancelAllAfter`).
      operationId: cancelAllAfter
      tags:
        - Order Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelAllAfterRequest'
      responses:
        '200':
          description: Cancel-all-after response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelAllAfterResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  parameters:
    SymbolParam:
      name: symbol
      in: path
      required: true
      description: Trading symbol (e.g., BTCRUSDPERP)
      schema:
        $ref: './trading-schemas.json#/definitions/Symbol'
        example: BTCRUSDPERP

    AddressParam:
      name: address
      in: path
      required: true
      schema:
        $ref: './trading-schemas.json#/definitions/Address'
        example: '0x6c51275fd01d5dbd2da194e92f920f8598306df2'

    StartTimeParam:
      name: startTime
      in: query
      required: false
      description: >-
        Return results at or after this time (inclusive lower bound).
        Millisecond POSIX timestamp, matched against the endpoint's record
        timestamp. Execution and bust endpoints use on-chain block timestamps;
        orderHistory uses the matching-engine event timestamp exposed as
        `lastUpdateAt`.
      schema:
        $ref: './trading-schemas.json#/definitions/UnsignedInteger'
        example: 1756733379000

    EndTimeParam:
      name: endTime
      in: query
      required: false
      description: >-
        Return results at or before this time (inclusive upper bound).
        Millisecond POSIX timestamp, matched against the endpoint's record
        timestamp. Execution and bust endpoints use on-chain block timestamps;
        orderHistory uses the matching-engine event timestamp exposed as
        `lastUpdateAt`. Results are returned newest-first and capped at a
        maximum that varies by endpoint. Because this bound is inclusive,
        passing the oldest timestamp from the previous page can repeat boundary
        rows; clients can deduplicate overlap or subtract 1ms when same-ms
        boundary ties are not relevant.
      schema:
        $ref: './trading-schemas.json#/definitions/UnsignedInteger'
        example: 1756733679000

    ExecutionTypeParam:
      name: type
      in: query
      required: false
      description: Filter perp executions by their exact response type. Omit to return executions of all types.
      schema:
        type: string
        enum:
          - ORDER_MATCH
          - LIQUIDATION
          - ADL
          - MARKET_CLOSE
        example: LIQUIDATION

    DepthLimitParam:
      name: limit
      in: query
      required: false
      description: >-
        Optional cap on the number of aggregated price levels returned per side.
        The parameter must be an integer >= 1 (as declared by `minimum`); when
        set to N, the response contains only the top N levels on each side — the
        N best (highest) bids and the N best (lowest) asks. Omit to receive the
        full order book (the default). Out-of-contract values (anything below 1)
        are not rejected — the server safely degrades to returning the full book,
        the same as omitting the parameter.
      schema:
        type: integer
        minimum: 1
        example: 10

    ResolutionParam:
      name: resolution
      in: path
      required: true
      description: Candle resolution
      schema:
        type: string
        enum: ['1m', '5m', '15m', '30m', '1h', '4h', '1d']
        example: '1m'

  schemas:
    RequestError:
      $ref: './trading-schemas.json#/definitions/RequestError'

    ServerError:
      $ref: './trading-schemas.json#/definitions/ServerError'

    MarketDefinition:
      $ref: './trading-schemas.json#/definitions/MarketDefinition'

    SpotMarketDefinition:
      $ref: './trading-schemas.json#/definitions/SpotMarketDefinition'

    AssetDefinition:
      $ref: './trading-schemas.json#/definitions/AssetDefinition'

    FeeTierParameters:
      $ref: './trading-schemas.json#/definitions/FeeTierParameters'

    GlobalFeeParameters:
      $ref: './trading-schemas.json#/definitions/GlobalFeeParameters'

    WalletConfiguration:
      $ref: './trading-schemas.json#/definitions/WalletConfiguration'

    MarketSummary:
      $ref: './trading-schemas.json#/definitions/MarketSummary'

    SpotMarketSummary:
      $ref: './trading-schemas.json#/definitions/SpotMarketSummary'

    Position:
      $ref: './trading-schemas.json#/definitions/Position'

    Order:
      $ref: './trading-schemas.json#/definitions/Order'

    OrderHistoryList:
      $ref: './trading-schemas.json#/definitions/OrderHistoryList'

    Account:
      $ref: './trading-schemas.json#/definitions/Account'

    AccountBalance:
      $ref: './trading-schemas.json#/definitions/AccountBalance'

    PerpExecutionList:
      $ref: './trading-schemas.json#/definitions/PerpExecutionList'

    SpotExecutionList:
      $ref: './trading-schemas.json#/definitions/SpotExecutionList'

    ExecutionBust:
      $ref: './trading-schemas.json#/definitions/ExecutionBust'

    ExecutionBustList:
      $ref: './trading-schemas.json#/definitions/ExecutionBustList'

    AssetOraclePrice:
      $ref: './trading-schemas.json#/definitions/AssetOraclePrice'

    CandleHistoryData:
      $ref: './trading-schemas.json#/definitions/CandleHistoryData'

    CreateOrderRequest:
      $ref: './trading-schemas.json#/definitions/CreateOrderRequest'

    CreateOrderResponse:
      $ref: './trading-schemas.json#/definitions/CreateOrderResponse'

    ModifyOrderRequest:
      $ref: './trading-schemas.json#/definitions/ModifyOrderRequest'

    ModifyOrderResponse:
      $ref: './trading-schemas.json#/definitions/ModifyOrderResponse'

    CancelOrderRequest:
      $ref: './trading-schemas.json#/definitions/CancelOrderRequest'

    CancelOrderResponse:
      $ref: './trading-schemas.json#/definitions/CancelOrderResponse'

    MassCancelRequest:
      $ref: './trading-schemas.json#/definitions/MassCancelRequest'

    MassCancelResponse:
      $ref: './trading-schemas.json#/definitions/MassCancelResponse'

    CancelAllAfterRequest:
      $ref: './trading-schemas.json#/definitions/CancelAllAfterRequest'

    CancelAllAfterResponse:
      $ref: './trading-schemas.json#/definitions/CancelAllAfterResponse'

    Depth:
      $ref: './trading-schemas.json#/definitions/Depth'

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RequestError'
          example:
            error: INPUT_VALIDATION_ERROR
            message: Invalid request parameters

    Forbidden:
      description: |
        Order insertion is not permitted for this wallet or account. Returned
        with `NOT_WHITELISTED_ERROR` when the wallet is not on the order-entry
        allowlist, and with `ACCOUNT_SUSPENDED_ERROR` when the account has been
        suspended by the exchange. Neither is retryable: both are access
        decisions, not transient conditions.

        This status is returned by `POST /v2/createOrder` and
        `POST /v2/modifyOrder` only. Cancelling is never gated by access
        control — `POST /v2/cancelOrder`, `POST /v2/cancelAll` and
        `POST /v2/cancelAllAfter` keep working for a wallet that has been
        removed from the allowlist or whose account has been suspended, so a
        client can always flatten its resting orders and manage its
        cancel-all-after countdown. Market data, positions, balances and order
        state remain readable.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RequestError'
          example:
            error: NOT_WHITELISTED_ERROR
            message: Wallet is not permitted to place orders

    TooManyRequests:
      description: |
        The account's own limits refused the request. `RATE_LIMITED_ERROR` means
        the request budget for that class of operation (placement, single
        cancel, bulk cancel, cancel-all-after control) is momentarily exhausted
        — the classes are budgeted separately, so being throttled on one does
        not throttle the others. On `createOrder` / `modifyOrder` this status is
        also returned for the account's resting-order caps,
        `OPEN_ORDER_COUNT_EXCEEDED_ERROR` and
        `OPEN_ORDER_NOTIONAL_EXCEEDED_ERROR`.

        `Retry-After` is always present on this status and is never `0`. For
        `RATE_LIMITED_ERROR` it is the exchange's own retry instant, rounded up
        to whole seconds — wait at least that long, since an earlier retry only
        consumes more budget. For the two open-order caps it is a backoff floor
        rather than a promise: waiting does not by itself clear the condition,
        which lifts only when resting orders are cancelled or filled.
      headers:
        Retry-After:
          description: Seconds to wait before retrying, rounded up. Never `0`.
          required: true
          schema:
            type: integer
            minimum: 1
          example: 2
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RequestError'
          example:
            error: RATE_LIMITED_ERROR
            message: Rate limit exceeded, retry after the indicated delay

    ServiceUnavailable:
      description: |
        The exchange is shedding load (`CAPACITY_LIMITED_ERROR`): it is at its
        ingest ceiling and is refusing new orders to protect the ones already in
        the book. This is about the venue, not the account. Cancels are never
        shed — `POST /v2/cancelOrder`, `POST /v2/cancelAll` and
        `POST /v2/cancelAllAfter` keep working throughout, so flattening risk
        stays available. Retry the create after a short delay, and do not stop
        cancelling.
      headers:
        Retry-After:
          description: Seconds to wait before retrying, rounded up. Present only when the exchange supplies a hint.
          required: false
          schema:
            type: integer
            minimum: 1
          example: 1
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RequestError'
          example:
            error: CAPACITY_LIMITED_ERROR
            message: Venue capacity is temporarily limited, retry shortly

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ServerError'
          example:
            error: INTERNAL_SERVER_ERROR
            message: An unexpected error occurred

tags:
  - name: Specs
    description: OpenAPI and AsyncAPI specs
  - name: Reference Data
    description: Market definitions, fee parameters, asset configuration, etc.
  - name: Market Data
    description: Prices, market-level trades, depth, candles, etc.
  - name: Wallet Data
    description: Accounts, positions, trades, etc.
  - name: Order Entry
    description: |
      Order entry operations.

      **Gated launch.** Order *insertion* on this deployment is gated: only
      wallets on the exchange's order-entry allowlist may place or modify
      orders. A wallet that is not on the list is refused with HTTP 403 and
      `NOT_WHITELISTED_ERROR` at the API edge, before the request reaches the
      matching engine. Market data, positions, balances and order state are
      public and are never gated.

      **Cancelling is never gated.** `cancelOrder`, `cancelAll` and
      `cancelAllAfter` are outside the allowlist check entirely: a wallet that
      has been removed from the allowlist, or whose account has been suspended,
      can still cancel its resting orders individually or en masse and can arm,
      refresh and disarm its cancel-all-after countdown. Access control never
      traps a position, and a dead-man's switch can always be kept alive or
      turned off.

      Losing access has two distinct forms, and they are not the same thing.
      **Removal** from the allowlist stops new placements shortly after it is
      made (the allowlist is polled, not pushed) and deliberately leaves the
      wallet's resting orders live — offboarding is graceful, and an accidental
      removal can never flatten a book. **Ejection** is a separate, explicit
      decision under which the exchange cancels the account's resting orders
      itself — except armed protective stops (`STOP_LOSS` / `TAKE_PROFIT`),
      which ejection deliberately leaves armed, because ejecting an account
      does not close its positions and it must not be left holding exposure it
      can no longer re-protect. While ejection is in force the matching engine
      refuses new placements with `ACCOUNT_SUSPENDED_ERROR`, and the client's
      own cancels continue to be accepted throughout. Neither state is
      retryable from the client side.

      Order entry is also rate limited and load shed; see `RATE_LIMITED_ERROR`,
      `OPEN_ORDER_COUNT_EXCEEDED_ERROR`, `OPEN_ORDER_NOTIONAL_EXCEEDED_ERROR`
      and `CAPACITY_LIMITED_ERROR` on `RequestErrorCode`, and the 429 / 503
      responses below.
